[2016-05-04 16:33] timvaillancourt opened #9 ""Failed to get oplog status." error under high oplog pressure"
mongodb_exporter outputs the following error under high oplog pressure (very high insert/update tests).

"E0504 18:31:11.270167    3301 oplog_status.go:111] Failed to get oplog status."

Perhaps this should be expected temporarily or something needs optimisation.

Tim

[2016-05-04 17:49] dbmurphy commented on #9
Is there some more data you can provide around what condition is failing and cause this  "Failed to get oplog status" result?

A test case and hypothesis on why its occurs would be great

[2016-05-09 12:41] timvaillancourt commented on #9
Hi David, I think the issue is the aggregate function I used to get the min/max timestamps. As we discussed, this is heavier than 2 x point queries. I  have an extremely small oplog (for dev testing) of 50mb, so it's possible that contributed to the problem.

The fixes in #12 should repair these problems. I'll leave this open for a few weeks of testing before closing.

[2016-05-09 20:12] #9 closed

[2016-07-27 09:15] thapakazi opened #18 "How to we configure it with ssl ?"
I just wonder how we could configure it with ssl options ?

Also isn't this exporting compatible with rocksdb :cold_sweat: ?

[2016-08-01 14:33] timvaillancourt commented on #18
We plan on adding both SSL and RocksDB support in the near future, however both are not currently supported.

I plan to integrate this commit (from another fork of this project) to add SSL/TLS support when I have time: https://github.com/dcu/mongodb_exporter/commit/bdb7e63da972827b9f8309301f2d8709ef4f6fe5#diff-1f9168f6e0298b80c03b2fee77eb8c84

RocksDB support is coming in a new branch in the next

[2016-08-18 17:16] timvaillancourt opened #24 "RocksDB functionality: counters and gauges sometimes do not increment/change"
The getServerStatus output for RocksDB was designed to be human-friendly and when numbers in the output get large the precision of the number disappears by applying human-friendly units, example: 10,000,000 will become the string "10M" in the output with no decimal precision.

The problem with this is it cannot be realistically graphed. The number needs to change from 10 million to 11 million for

[2016-10-25 16:07] #24 closed

[2016-10-26 10:30] dbmurphy commented on #18
@timvaillancourt  We should not have SSL support as the exporter should be running locally on each mongod box. Instead, we are adding SSL  support to PMM  so that  Prometheus <-> Exporters will be SSL enabled.

[2016-10-26 22:01] mg03 opened #29 "Log rotate ??"
Hi

I see it rotates logs as I can see a bunch of logs like below and thats good. But is there a setting not only to rotate but to delete old log files?

-rw-r--r-- 1 prometheus iptvgrp     193 Oct 26 18:45 mongodb_exporter.ip-10-113-198-204.unknownuser.log.ERROR.20161026-184537.3156
-rw-r--r-- 1 prometheus iptvgrp     193 Oct 26 18:45 mongodb_exporter.ip-10-113-198-204.unknownuser.log.INFO.201610

[2016-10-27 14:20] roman-vynar opened #30 "Crash using TokuMX mongo shell v2.0.2-mongodb-2.4.10"
Creating this issue on behalf of the user https://www.percona.com/forums/questions-discussions/percona-monitoring-and-management/46287-mongodb-problem

TokuMX mongo shell v2.0.2-mongodb-2.4.10

[code]

[2016-10-27 15:47] dbmurphy commented on #30
This is not a supporter version of Mongo and has been EOL'd we should not support it.

[2016-10-27 15:49] #30 closed

[2016-10-27 15:50] roman-vynar commented on #30
👍

[2016-11-14 23:24] timvaillancourt commented on #29
Good point, I'll look into a solution or will eventually add a logrotated sample config to use for rotation/compression of logs.

[2016-11-15 13:35] timvaillancourt opened #32 "Exporter process uses more CPU than expected"
This is to track a  low priority investigation into what consumes CPU in our exporter. In one instance of mongodb_exporter running under Percona Monitoring and Management (same exporter code) I can see it use 5-6% user-level CPU at all times.

An example:
[code]

Maybe this is CPU usage is normal but it would be good to make sure we aren't doing anything silly to cause this.

[2016-11-15 13:53] percona-csalguero commented on #32
Please let me know if I can help.
Meanwhile, this article can be helpful: https://blog.golang.org/profiling-go-programs

[2016-11-16 02:39] chdanandaroopaha opened #33 "hello cannot use"
go build -o mongodb_exporter github.com/Percona-Lab/prometheus_mongodb_exporter

It gives -- cannot find package "gopkg.in/mgo.v2" in any of:
	/home/devops/go/src/github.com/Percona-Lab/prometheus_mongodb_exporter/vendor/gopkg.in/mgo.v2 (vendor tree)

we have to get package with all dependencies than I tired

 go get github.com/Percona-Lab/prometheus_mongodb_exporter
than

Cloning into '/home/devo

[2016-11-16 16:16] percona-csalguero commented on #33
use `govendor sync` to update your dependencies.

[2016-11-21 13:12] timvaillancourt commented on #32
Hey @percona-csalguero, tried using pprof but somehow my profile is always empty.

I tried putting it in here: https://github.com/Percona-Lab/prometheus_mongodb_exporter/blob/master/mongodb_exporter.go#L111 and even here: https://github.com/Percona-Lab/prometheus_mongodb_exporter/blob/master/collector/mongodb_collector.go#L51.

I'm guessing this has something to do with channels but I didn't have

[2016-12-05 16:33] batazor opened #36 "Fail build docker image."
When assembling Docker image error occurred.

#### Logs

[code]

[2017-01-13 21:52] jamrizzi commented on #36
Anyone figure out why this isn't building???

[2017-01-14 17:17] jlemaes commented on #36
Check my pull request #38. It fixes the build error caused by a new version of the prometheus golang-client.

[2017-01-22 21:06] batazor commented on #36
@jlemaes Yes, the assembly was held successfully. Thank you.

[2017-01-22 21:06] #36 closed

[2017-01-23 15:18] alexkazeko opened #39 "Collector crashes after timeouts?"
Hello,

I've got PMM agent monitoring linux:metrics and mongodb:metrics. From time to time mongodb exporter crashes. Here is what I see in logs:

[code]

MongoDB version : "3.2.9-2.1". This node is a master of a 3-node replica set, but I've seen same logs on other nodes - crash after the timeout.

Alex

[2017-02-15 11:13] Nalum opened #42 "Running the exporter"
Is it required to have one exporter per replicaset member or is having one exporter for the whole replicaset enough?

[2017-02-21 23:01] timvaillancourt commented on #42
Hi Nalum, to get full metric coverage you will need 1 x exporter for every replica set member. We suggest you also run the 'node_exporter' project to get operating system metrics also.

Also see Percona PMM which may make this easier to setup: https://www.percona.com/software/database-tools/percona-monitoring-and-management

[2017-02-22 14:19] timvaillancourt opened #47 "Lock stats are broken on MongoDB 3.2"
MongoDB changed the lock stats again (a 3rd time!) in 3.2 and lock stats in the exporter are broken on this version as a result, always returning zero for lock stats.

locks.go will need to support a new lock stats schema when using 3.2.

[2017-02-22 14:22] timvaillancourt commented on #39
Hello @alexkazeko, thanks for reporting this. I've been meaning to fix this and currently this is known behaviour. 'pmm-admin restart --all' will restart the exporter as a workaround.

I plan to rework the connection code to retry on failure, just out of cycles at the moment. Any code changes are appreciated in the meantime!

[2017-02-22 18:23] timvaillancourt commented on #47
I spoke too soon, the schema for lock stats is the same but some useful elements have been removed from it. This is not fixable at the exporter level so I will close.

[2017-02-22 18:23] #47 closed

[2017-02-24 14:42] Nalum commented on #42
@timvaillancourt thanks :+1:

Given that the replicaset information appears to be duplicated per member of the replicaset what's the recommended approach using those metrics?

[2017-02-25 12:56] figvam opened #49 "mongodb_exporter crashes on startup under CentOS 6"
Running mongodb_exporter from pmm-client-1.1.1-1.x86_64 RPM under CentOS 6. I added mongodb:metrics with pmm-admin first but it showed as NOT running in "pmm-admin list" output. Running mongodb_exporter manually with this command line:

`/usr/local/percona/pmm-client/mongodb_exporter -v 100 -web.listen-address=10.9.52.12:42003 -web.auth-file=/usr/local/percona/pmm-client/pmm.yml -web.ssl-cert-file

[2017-02-28 11:18] ralberto opened #50 "mongodb_exporter crashes when mongo is not available"
mongodb_exporter crashes when mongodb is not available. Here's the error:

[code]

[2017-02-28 11:33] ralberto opened #51 "Add metric with mongodb status"
It would be nice to have a metric indicating the mongodb status mongodb_up (0|1). There are other exporters doing that and it's really handy for monitoring. (ex. haproxy exports haproxy_up; elasticsearch_exporter exports elasticsearch_up; etc...).

[2017-02-28 11:43] dbmurphy commented on #42
Typically this is to support 2 views

1) Looking at that single node and knowing how it works across everything
2) Looking at the replicaset Grafana finds all the metrics of a given name tagged with that replica set for doing a group graph such as replication lag or oplog size.

[2017-03-09 00:44] timvaillancourt commented on #50
Thanks for this error report @ralberto. This is fixed in PR: #55. If you have time, please test this branch.

[2017-03-09 00:48] timvaillancourt commented on #42
Yes, please see https://github.com/percona/grafana-dashboards for examples of how we use these metrics in PMM. Closing this issue, please reopen with any questions.

[2017-03-09 00:56] #42 closed

[2017-03-09 00:58] timvaillancourt commented on #33
Closing this issue, please re-open if:

go get -d github.com/percona/mongodb_exporter
cd $GOPATH/src/github.com/percona/mongodb_exporter
govendor sync
go build -o mongodb_exporter mongodb_exporter.go

Does not work.

[2017-03-09 00:58] #33 closed

[2017-03-09 01:00] timvaillancourt commented on #39
Closing as duplicate of #50.

PR #55 fixes this issue, stay tuned.

[2017-03-09 01:00] #39 closed

[2017-03-09 01:01] timvaillancourt commented on #32
Closing, will keep in mind and will re-open in PMM Jira later.

[2017-03-09 01:01] #32 closed

[2017-03-09 01:09] timvaillancourt commented on #18
We plan to implement #40 soon, closing this issue. Also #35 added Prometheus => mongodb_export SSL support.

[2017-03-09 01:09] #18 closed

[2017-03-10 16:47] timvaillancourt commented on #50
I believe #55 resolves this. If mongodb is restarted after the exporter has started, we will now timeout after 5 seconds instead of crash:

-logtostderr output (restart of mongod is in the middle of output):
[code]

If mongodb is unavailable on startup, we will still crash/exit (at least for now).

Please re-open if any issues are noticed.

[2017-03-10 16:47] #50 closed

[2017-03-15 15:12] godjil opened #57 "Cannot build"
# github.com/percona/mongodb_exporter/collector/mongos
/usr/local/go/src/github.com/percona/mongodb_exporter/collector/mongos/asserts.go:26: assertsTotal.WithLabelValues("regular").Set undefined (type prometheus.Counter has no field or method Set)
/usr/local/go/src/github.com/percona/mongodb_exporter/collector/mongos/asserts.go:27: assertsTotal.WithLabelValues("warning").Set undefined (type promet

[2017-03-16 09:07] MathieuMailhos commented on #57
Exactly, same here: `go get github.com/percona/mongodb_exporter/collector`: `too many errors`

[2017-03-19 16:05] godjil commented on #57
any?

[2017-03-19 21:02] timvaillancourt commented on #57
We have fixed the build documentation and added a Makefile in #52.

In the meantime govendor is required when building.

Try the following until #52 is merged:

[code]

[2017-03-21 13:49] thesharp commented on #49
If you just compile it and run w/o pmm-client (idk what that is), mongodb_exporter works just fine on CentOS 6.

[2017-03-22 13:42] thesharp opened #59 "Missing (probably) labels from mongos"
I've added my mongos hosts to Prometheus and here's the sample of the labels I see from there:

[code]

Isn't there supposed to be a `cluster` label for "MongoDB Cluster Summary" dashboard to work correctly? Or should I just add it during the scrape step?

[2017-04-13 14:58] jperville opened #60 "Expose per-database metrics"
Could it be possible to backport https://github.com/dcu/mongodb_exporter/pull/32 from the upstream fork to this project? We would like to expose the dbStats (number of objects, indexes etc) to prometheus.

[2017-04-27 21:36] timvaillancourt commented on #59
Yes, 'cluster' is used for many dashboards. In PMM '--cluster <name>' during 'pmm-admin add mongodb:metrics' will add all required labels to metrics gathered by PMM's Prometheus.

To do it yourself I would add it during the scrape step as you mention.

[2017-04-27 21:37] #59 closed

[2017-05-15 12:46] phoenix10k opened #61 "mongos metric collection fails while chunk migrations are in progress"
Hi, It looks like the mongodb_exporter is failing for mongos router nodes whenever chunk migrations are in progress. For example:
[code]
The easiest way to reproduce is to create collection on a sharded mongo cluster without sharding enabled, write a lot of data (ideally a few 10s/100s of block's worth), and then enable sharding and balancing on the collection, you should see that the exporter rem

[2017-05-24 12:00] hunter951411 opened #62 "server returned error on SASL authentication step: Authentication failed."
When i config one mongodb with authentication, mongodb_exporter run on port 9104 ok
But when I run mongodb replica set and authentication with keyfile, then I run command mongodb_exporter -mongodb.uri mongodb://mongodb_exporter:s3cr3tpassw0rd@192.168.56.10:27017 on server, output is server returned error on SASL authentication step: Authentication failed.
Can you tell me why and how to solve it? T

[2017-05-29 20:43] heartwilltell opened #64 "Provide official docker image on docker hub"
It would be really userful

[2017-05-30 09:15] #62 closed

[2017-06-14 20:36] Smuggla opened #65 "Release Arch Binaries"
With Go's vendoring being as awesome as it is, could you please release compiled arch versions of the exporter.

This is the main reason I am not using this exporter personally.

Thanks!

[2017-06-15 03:37] zhihuiFan opened #66 "roadmap of percona/mongodb_exporter and dcu/mongodb_exporter"
I'm new to open source community,  but looks too many branches makes user and contributor hard to choose.

Take mongodb_exporter for example,  I know/use dcu/mongodb_exporter first and then I would like to contribute to it during use.  but then I found percona/mongodb_exporter has more features I want already.  like `MongoDB WiredTiger storage-engine metrics`.   I'm thinking if  I should turn to u

[2017-06-15 06:10] dbmurphy commented on #66
The short answer is we needed more control and could not wait months for pull requests, but there are differences on features we wanted that others didn't. As this fork is what PMM uses I would not want to block such a big project on waiting months for PR merging (has happened)

[2017-06-15 08:31] zhihuiFan commented on #66
I see.  Thank you for your answering!

is it welcomed that if I find some nice feature here and want to send pull request to dcu?  What policy shall I follow, like if I want to copy some code,  shall I add some comments like "// the following code is copied from percona/mongodb_exporter"  and // copy from percona/mongodb_exporter ended".   Looks this way will make the code pretty dirty but I also

[2017-06-15 10:11] dbmurphy commented on #66
We some times send PR up, but you might just raise an issue and ask, my team does not manage this anymore and do not want to speak for Percona engineering.

[2017-06-15 15:22] rnovikovP commented on #66
@zhihuiFan we are planning to have more regular checks on new features in dcu and have dedicated people to review PR into our repo. So fill free to send us PR you needed.

[2017-06-16 02:53] zhihuiFan commented on #66
I see,  thank you all!

[2017-06-16 02:53] #66 closed

[2017-06-16 09:21] AlekSi commented on #57
All dependencies are vendored now. You can install latest version with `go get -u github.com/percona/mongodb_exporter`.

[2017-06-16 09:21] #57 closed

[2017-06-16 14:24] rnovikovP commented on #49
@figvam can you try new version?

[2017-06-29 07:02] AlekSi commented on #29
In v0.2.0 logs are written to stderr.

[2017-06-29 07:02] #29 closed

[2017-06-29 07:05] AlekSi commented on #65
We are going to release static binaries soon. In the meantime, you can `go get` exporter – dependencies are now vendored.

[2017-07-07 17:21] AlekSi commented on #65
Please test the latest released binary.

[2017-07-09 01:14] Exordian commented on #64
+1 enabling an automated build on dockerhub should just take a few minutes

[2017-07-19 11:16] ashoksahoo opened #73 "How to calculate replication Lag."
The readme has replication lag, but I guess it is supposed to be calculated from two different metrics by joining them. What is the correct way to do that?

[2017-07-24 16:04] rnovikovP commented on #64
We have  similar requests for all  exporters so you can  follow https://jira.percona.com/browse/PMM-1026 to track progress

[2017-07-24 17:17] rnovikovP commented on #73
You probably asking about  this  - https://github.com/percona/grafana-dashboards/blob/master/dashboards/MongoDB_Cluster_Summary.json#L1449

The dashboard to use this metrics

[2017-07-24 17:18] rnovikovP commented on #65
We have similar requests for all exporters so you can follow https://jira.percona.com/browse/PMM-1026 to track progress

[2017-07-24 17:21] rnovikovP commented on #61
moved to https://jira.percona.com/browse/PMM-1238

[2017-07-24 17:22] rnovikovP commented on #60
moved to https://jira.percona.com/browse/PMM-1239

[2017-07-24 17:23] rnovikovP commented on #51
moved to https://jira.percona.com/browse/PMM-1240

[2017-07-24 17:25] rnovikovP commented on #49
moved to https://jira.percona.com/browse/PMM-1241

[2021-05-07 14:48] askomorokhov opened #262 "Port old PRs to new version."
Port old PRs to the new version of exporter.

[2021-05-07 14:49] askomorokhov opened #263 "Update README with contribution guide."
Update README with contribution guide: https://opensource.guide

[2021-05-07 14:50] askomorokhov opened #264 "Integrate Go releaser with Github Actions."
Integrate Go releaser with Github Actions.

[2021-05-07 14:58] #263 closed

[2021-05-07 15:11] askomorokhov opened #265 "Create OCI image for mongodb_exporter and update helm chart."
https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-mongodb-exporter/values.yaml#L16-L17

[2021-05-11 03:45] baiwfg2 opened #266 "Why many metrics don't have member label ?"
Hi. I start one mongodb_exporter to scrape metrics of a replica set with 3 nodes. But I cannot extract `member` label from many metrics, such as:

`mongodb_ss_wt_block_manager_blocks_read{cl_id="6098d5af91ec5fad8a3c96d7",cl_role="shardsvr",rs_nm="shard1",rs_state="1"} 3773`

I thought the member of a replica set was included in metrics such that we can group it by different members.

Should I depl

[2021-05-11 03:58] baiwfg2 commented on #266
When I run command like this:

`mongodb_exporter --mongodb.uri=mongodb://admin:123456@9.134.5.74:30002,9.134.5.74:30001,9.134.5.74:30003/admin`

It still only scrapes primary node , why is that ?

[2021-05-11 18:22] caiorcferreira opened #267 "v0.20.4 binary does not accept new flag --discovering-mode"
When running the binary with the latest release v0.20.4 it fails when providing the `--discovering-mode` with the following message:

[code]

Seems like the CLI don't even know the flag, although the code for it is on the main branch and the feature is mentioned on the [release notes](https://github.com/percona/mongodb_exporter/releases/tag/v0.20.4)

[2021-05-12 17:40] caiorcferreira commented on #267
Any estimate for when this new release can be launched?

[2021-05-14 18:40] caiorcferreira opened #270 "Add getReplicationInfo to available metrics"
The easiest way to track oplog size and oplog window is through `db.getReplicationInfo()`.

They are critical metrics missing on the project right know.

[2021-05-17 18:07] percona-csalguero commented on #267
I am working in a release. Cannot tell you the release date yet.
I'll keep you informed

[2021-05-17 18:15] percona-csalguero commented on #270
Hello,

Would you like to create a Jira ticket with more detailed information?
You can do that at our [project's Jira](https://jira.percona.com/projects/PMM/summary) and also, if you want to provide a fix and need help to start, just ping me and I'll be glad to help you.

Thanks.
Regards

[2021-05-18 14:50] percona-csalguero commented on #267
Hi.
Version [0.20.5](https://github.com/percona/mongodb_exporter/releases/tag/v0.20.5) has been released and it is going to be part of PMM 2.18 in around 2 weeks.
You can also talk and ask questions in PMM's discord [here](https://discord.gg/hQBrHgGX)

Regards

[2021-05-18 14:50] #267 closed

[2021-05-18 16:33] caiorcferreira commented on #270
Hi @percona-csalguero,

I was setuping up the project locally in order to provide this feature but got some problems with the tests.

Steps:
1. Run `make test-cluster`
2. Run `make test`

Output of the tests:

[code]

This is logged repeatedly, hence I belive this is due to some loop. Do you have any clues?

Env:
- Go v1.14.6

[2021-05-19 09:55] JosephKav-Wandera opened #276 "adjusting to 20.x metrics"
So I've noted a few of the changes that we'll need to make in our Grafana dashboards, but there's a few around collections that I can't seem to find. e.g. mongodb_mongod_db_collections_total{db="admin"}.
I've tried running with --compatible-mode and --discovering-mode but ctrl-f'ing admin shows no results. Is there a way to get these metrics still or have they been removed?

[2021-05-19 11:50] adivinho commented on #276
Have you got metrics mongodb_mongos_db_collections_total ?

[2021-05-19 12:10] JosephKav-Wandera commented on #276
20.5 --discovering-mode --compatible-mode
Only metrics with collections in the name is mongodb_ss_metrics_commands_listCollections_failed, mongodb_ss_metrics_commands_listCollections_total, mongodb_ss_metrics_commands_mergeAuthzCollections_failed and mongodb_ss_metrics_commands_mergeAuthzCollections_total

[2021-05-20 10:06] percona-csalguero commented on #266
It only scrapes primary because the exporter use direct connection to the first server in the list to be able to get replicaset information.
Maybe it would be a good enhancement to make it able to detect there are more that one server in the list and make it connect (using direct connection) to all of them.

[2021-05-20 11:24] baiwfg2 commented on #266
I have interest to implement this if possible.

[2021-05-20 11:46] percona-csalguero commented on #266
Regarding the other question, the only [topology labels](https://github.com/percona/mongodb_exporter/blob/main/exporter/topology_info.go#L34-L37) applied to all metrics are:
[code]
The `member_idx` is only applied if `name` appears as part of a [data tree](https://github.com/percona/mongodb_exporter/blob/main/exporter/metrics.go#L315-L318).
[code]
Please, fill free to create new [Jira](https://jir

[2021-05-20 11:46] #266 closed

[2021-05-20 11:57] percona-csalguero commented on #264
Don't we have this already? [release.yml](https://github.com/percona/mongodb_exporter/blob/main/.github/workflows/release.yml) file

[2021-05-21 10:22] baiwfg2 opened #277 "connection leak"
Hi. I've started three mongod on the same host,  three mongodb_exporter to scrape each of three. However I find the threee mongod's connections from mongodb_exporter differs a lot.

(the following port 7024, 7042, 7052 are mongod's port)

![image](https://user-images.githubusercontent.com/5157680/119121278-ce41a480-ba5f-11eb-8dd6-af51115def4f.png)

I try to tcpdump one of mongodb_export's port, an

[2021-05-21 10:41] #264 closed

[2021-05-21 12:51] percona-csalguero commented on #270
Hello.
Could you try with a newer Go version and modules enabled?
I cannot see the errors:

[code]

[2021-05-24 12:44] denisok opened #279 "first community online meeting"
Hi Community,

we would like to organize community engineering meeting to start talking about PR, issues, future. Join and give your feedback:
https://percona.community/emm/2021-05-25-emm/

@masaruhoshi @AATHITH @123BLiN

some issue contributors #277 #276 #270 #65  #66 #267 please join as well!

Thanks,
Denys

[2021-05-26 00:51] masaruhoshi commented on #279
Sorry, guys. I messed up the timezones when I read "GMT-2" instead of "GMT+2" 😞

[2021-05-26 08:54] JosephKav-Wandera commented on #276
Sorry I couldn't make it to that meeting, but did you manage to discuss any of this ticket? Have collection metrics been dropped?

[2021-05-26 11:01] binhvcom opened #281 "Grafana Dashboard ?"
Do we have a offical grafana dashboard is that work with the latest version ?

[2021-05-28 10:12] odederner1 commented on #281
Hi,
Latest dashboards from: https://github.com/percona/grafana-dashboards  (MongoDB)
should work with latest exporter? or should we use --compatible-mode and --discovering-mode ???
What is the correct march between mongodb-exporter and the above dashboards?

[2021-05-31 20:57] djoul2706 commented on #60
Hi,
is it available or not ?
I can't found any db level metrics exposed with the following command :

/tmp/mongodb_exporter-0.20.5.linux-amd64/mongodb_exporter \
  --discovering-mode --compatible-mode \
  --mongodb.collstats-colls=db1.col1,db2.col2

what did i miss ?

regards,
Julien

[2021-06-01 08:14] max-tian opened #284 "Is there any document about metrics?"
I would like to know some detail information about every metrics. Can somebody provide documentation about metrics?

[2021-06-01 20:49] khuongduybui commented on #60
It is _not_ available, the JIRA issues has been on hold for years. We might as well make my own fork at this point...

[2021-06-02 11:07] iamanv commented on #60
@rnovikovP Aren't we exposing a few DB metrics for shards here https://github.com/percona/mongodb_exporter/blob/75adba41a2d8e9c4d5f5496bd2a509eadc0dd462/exporter/v1_compatibility.go#L1300 ? Unless I am missing something, we are making use of the same thing as the upstream repo to create metrics.

[2021-06-02 13:25] percona-csalguero commented on #284
MongoDB exporter grabs **ALL** fields by traversing the output of `getDiagnosticData` and expose all numeric fields.
You can read more about it [here](https://www.percona.com/blog/2020/09/22/new-mongodb-exporter-released-with-percona-monitoring-and-management-2-10-0/)

[2021-06-02 13:25] #284 closed

[2021-06-02 13:38] iamanv opened #285 "Exposing db metrics for replicasets"
## What am I doing ?
I am trying to add some DB metrics for replicasets much like it's been done for shards [here](https://github.com/percona/mongodb_exporter/blob/75adba41a2d8e9c4d5f5496bd2a509eadc0dd462/exporter/v1_compatibility.go#L1300) inside `v1_compatibiliity.go`.  I tried making use of the `getDatabaseStatList` function to get DB stats and use those in conjunction with the replica set metr

[2021-06-02 13:49] khuongduybui commented on #60
I enabled `--compatible-mode` but still did not see `mongodb_mongos_db_indexes_total`.
I want to give my mongodb instance enough memory to store entire indices in memory so this metric is important to me.

[2021-06-02 14:46] masaruhoshi commented on #285
@iamanv, about your second question, did you try to specify the dbs you want do discover? I noticed that, even with `--discovering-mode` you still have to provide a list of databases that you want to discover using `--mongodb.collstats-colls=list,of,dbs`.

[2021-06-02 16:07] iamanv commented on #285
@masaruhoshi  I just tried running the exporter as follows:
`./mongodb_exporter --mongodb.uri=mongodb://127.0.0.1:17001 --compatible-mode=true --mongodb.direct-connect=true --discovering-mode --mongodb.collstats-colls=testDB.users`
And it still didn't work for me.

[2021-06-02 18:57] khuongduybui commented on #276
I am running with --compatible-mode but I do not see any mongodb_mongos_ metrics at all either

[2021-06-03 11:41] percona-csalguero commented on #284
Just a comment with more info:
Please check [MongoDB Diagnostic commands](https://docs.mongodb.com/manual/reference/command/nav-diagnostic/) information page to get more info about metrics as `getDiagnosticData` seems to be collecting information from all sources.

[2021-06-03 12:40] percona-csalguero commented on #285
Hello,
To wich instance are you connecting to while running the tests?
Remember `dbStats` should be executed against the primary.
Could you point me to your fork/branch so I can try to reproduce your issue?

Thanks

[2021-06-03 13:15] denisok opened #286 "linter doesn't run for forked repos"
https://github.com/percona/mongodb_exporter/runs/2724195305?check_suite_focus=true

[code]

[2021-06-03 13:36] iamanv commented on #285
@percona-csalguero

I used the docker-compose file in the repo and it created the replicasets.

I tried switching the port on which primary for a replicaset was running i.e. 17001 ->>> 17003 like so:
`./mongodb_exporter --mongodb.uri=mongodb://127.0.0.1:17001 --compatible-mode=true --mongodb.direct-connect=true --discovering-mode --mongodb.collstats-colls=testDB.users`, it didn't make any differen

[2021-06-06 21:35] feelan03 commented on #281
Is there any progress on this issue? How can I use this dashboard?

[2021-06-07 07:47] adivinho commented on #281
Latest versions of dashboards are located here
https://github.com/percona/grafana-dashboards/tree/PMM-2.0/dashboards
It's recommended to use flag _--compatible-mode_ for exporter.

[2021-06-07 11:10] alin-grecu commented on #276
I couldn't find an equivalent for `mongodb_mongod_db_collections_total` on replica sets either. Any updates on this?

[2021-06-07 14:25] binhvcom commented on #281
Hello,

I’m sorry for the late reply
Thanks for your support, the dashboard is working perfect for me.

[2021-06-07 14:25] #281 closed

[2021-06-07 15:03] dgdevops commented on #276
Same issue here

[2021-06-09 12:28] Whyeasy opened #291 "MongoDB atlas not working version 0.20.5"
Hi,

**Description**
In version 0.20.4 this issue was fixed: https://jira.percona.com/browse/PMM-7128

It seems with version 0.20.5 this feature is broken again.

**Expected behavior**

Make it possible to connect o Mongo Atlas again with the newer version.

[2021-06-09 12:35] Whyeasy commented on #291
Sorry my bad. Using the flag `--mongodb.direct-connect=false` fixes this.

[2021-06-09 12:35] #291 closed

[2021-06-10 07:06] hiroshi opened #292 "How to monitor number of members eligible for primary?"
Is it a way to count the number of members eligible for primary?

I'm not sure, but to get the information, priority and hidden of replSetGetConfig is needed.
https://docs.mongodb.com/manual/reference/command/replSetGetConfig/#mongodb-dbcommand-dbcmd.replSetGetConfig
However replSetGetConfig is not the list at v0.20.5.

Or anythink alike in the current set of metrics?

Thanks in advance.

[2021-06-10 12:45] percona-csalguero commented on #292
Hello,

I am not a MongoDB expert but as a developer being done some work in a backup tool for MongoDB I can tell you hidden servers are not elegible to become primary. Because of that, the backup tools search for hidden servers to use as the backup source since reading them won't affect the client's performance.
Priority IS taken into account and probably `arbiterOnly` too.

Regards.

[2021-06-10 12:45] #292 closed

[2021-06-11 01:11] hiroshi commented on #292
Hi @percona-csalguero,
Thanks for your attention.

Sorry for my vague question. I meant to ask it in the context of percona/mongodb_exporter.

So, my question is:
Using percona/mongodb_exporter, Is it a way to tell that primary eligible members are more than one?

Anyway, I was starting to extend percona/mongodb_exporter. Make it get those information with replSetGetConfig.
I'll create a PR when i

[2021-06-14 08:47] JamesChenX opened #296 "PMM-8489 Failed to get topology labels when the target server is mongos"
## Steps to Reproduce
1. Set up a mongos server
2. Update the `mongodb.uri` to the mongos and run mongodb_exporter

## Actual
Failed to get topology labels when the target server is mongos, and get the error from logs:

## Expected
Should work fine with mongos

## Note
It seems the error is caused by: https://github.com/percona/percona-toolkit/blob/49b570ed0ccb49cecd3515d444f3fef44a56d115/src/go/m

[2021-06-14 11:52] dgdevops commented on #276
Are there any plans to reintroduce these metrics?

[2021-06-15 15:03] gg-kialo opened #297 "Support `compatible-mode` for `indexstats`"
The `compatible-mode` switch is ignored in [`indexstats_collector.go`](https://github.com/percona/mongodb_exporter/blob/main/exporter/indexstats_collector.go#L93). This produces unique metrics names, containing the db, collection, and index name, for which dashboards and alerts are hard to produce.

By supporting `compatible-mode` and using a single metric name, with the db, collection, and index

[2021-06-24 20:17] denisok opened #302 "second community online meeting"
Hi Community,

we would like to organize community engineering meeting to start talking about PR, issues, future. Join and give your feedback:
https://percona.community/contribute/engineeringmeetings/2021-06-29/

@masaruhoshi @AATHITH @123BLiN @hiroshi

some issue contributors #277 #276 #270 #65 #66 #267 #281 #284 #291 #267 please join as well, we would discuss issues and triage them!

Thanks,
Den

[2021-06-29 17:09] sergeydeg commented on #285
dbStats can be used against any replicaset member. Starting from 4.4 member must be in PRIMARY or SECONDARY state.
Raw dbStats data can be useful to analyze particular DB changes (size and doc count) in time without summing by collection, and it is less expensive than collecting all collection metrics data.
Probaly exporter can check memeber status an report dbStats only wnen connecting to Primary

[2021-07-01 16:11] percona-csalguero commented on #285
Would you like to submit a Pull Request with the improvement?
If you wish and need something, just left me a message and I'll try to help.

[2021-07-01 21:31] gaantunes opened #307 "No metrics for mongos"
I am using [percona grafana dashboards](https://github.com/percona/grafana-dashboards/tree/PMM-2.0/dashboards) with the test cluster that runs with the docker-compose file included in this repo. Every instance gets data collected, but mongos does not collect most of the data.

Seems like it's trying to collect using `diagnosticDataCollector` but the `getDiagnosticData` command doesn't return anyth

[2021-07-02 15:44] lopezavila85 commented on #285
These are my flags, which are working for collecting data and index size information:

`MONGOD_EXPORTER_FLAGS="--compatible-mode --mongodb.global-conn-pool --mongodb.collstats-colls=mydb.* --mongodb.indexstats-colls=mydb.* --discovering-mode"`

I am not sure about the discovering-mode flag, though.
Regarding the connection pool, it is not to open/close a connection for each scrape of metrics.

[2021-07-08 06:09] KeithTt commented on #307
I create a sharded cluster, and also found that there is no metrics for mongos, I got `server returned HTTP status 500 Internal Server Error`.

Maybe this exporter only works for mongod instance?

[2021-07-13 13:07] wildone opened #309 "Any way of setting poll interval?"
Love the exporter, would love to see if there is poll interval setting?

[2021-07-14 21:41] denisok commented on #309
Hi Max,

what do you mean by poll interval? As I understand it - this exporter implements standard Prometheus exporter with help of it's client lib:
https://prometheus.io/docs/instrumenting/writing_exporters/

And that is based on `scrape_interval` on how often Collector is called to get metrics.
https://prometheus.io/docs/introduction/first_steps/#configuring-prometheus

Thanks,
Denys

[2021-07-16 15:43] Iliyass commented on #270
any update on this? I'm interested in these metrics.

Thanks

[2021-07-16 16:08] #302 closed

[2021-07-20 22:43] ozkar2c commented on #307
Hi guys

Do you know if there are equivalent metrics for these old ones?

mongodb_mongos_sharding_databases_total
mongodb_mongos_sharding_collections_total
mongodb_mongos_sharding_shards_total
mongodb_mongos_sharding_chunks_total
mongodb_mongos_sharding_balancer_enabled
mongodb_mongos_sharding_chunks_is_balanced

Thanks a lot

[2021-07-21 14:54] ygormutti commented on #309
If I understood the code correctly, the exporter issues MongoDB commands to collect metrics during `/metrics` request handling, so you can control the poll interval from your Prometheus job configuration.

Despite being super simple, this approach have cause us some issues. In our case, the existing prometheus job had a 10s timeout, which was insufficient sometimes. We had to create a new Promethe

[2021-07-21 17:00] denisok commented on #309
Hi @ygormutti,

this exporter based on standard lib with some additional features (tls and etc). But it is implementing standard practice:
https://prometheus.io/docs/instrumenting/writing_exporters/#collectors
https://prometheus.io/docs/instrumenting/writing_exporters/#scheduling

We use standard github.com/prometheus/client_golang fo it.

There could be caches for sure:
https://prometheus.io/docs

[2021-07-22 10:14] percona-csalguero commented on #309
As mentioned by @ygormutti all exporters, not only the MongoDB exporter collect metrics on request.
There is no poll interval concept in the exporters. The polling interval is how often Prometheus (or any other gatherer) pulls the metrics from the exporter's HTTP interface.

[2021-07-22 21:12] percona-csalguero commented on #307
Hello, in compatibility mode and when connected to a mongos, you should have those metrics.
Check https://github.com/percona/mongodb_exporter/blob/main/exporter/v1_compatibility.go#L113 and if you found something wrong (it might be possible) please create a ticket in our [Jira](https://jira.percona.com/projects/PMM/issues/PMM-8094?filter=allopenissues)
I will be glad to fix any issue.

Regards.

[2021-07-22 21:12] #307 closed

[2021-07-22 21:25] percona-csalguero commented on #296
Created https://jira.percona.com/browse/PMM-8489 to track this issue

[2021-07-22 23:42] TheQueenIsDead commented on #64
Super old issue, but if anyone is looking for an image, [Bitnami](https://bitnami.com/) has one available

GitHub: https://github.com/bitnami/bitnami-docker-mongodb-exporter
Docker Hub: https://hub.docker.com/r/bitnami/mongodb-exporter/

Could be worth linking to it in the README, though most avid Googlers will likely find it

[2021-07-23 12:16] thedje opened #312 "questions about metrics for several bases"
Hi,

I have a mongodb instance on a server1 containing only one base and I have metrics with the label rs_nm the name of the base:
ex: mongodb_sys_netstat_Tcp_RtoAlgorithm {cl_id = "608921f272bce3bb425f7d16", cl_role = "shardsvr", rs_nm = "<_base name_>", rs_state = "1"} 1

I have another instance on a server2 containing several bases and there I do not have the base label:
mongodb_sys_netstat_Tcp

[2021-07-23 14:13] msmerc opened #313 "Prometheus exporter continues to export after database has been dropped"
Hi,

I've noticed that if we remove a mongo database the exporter will still retain all its metrics. I've not tested to see what happens if we drop a collection - but it's probably the same.

We find our dev server ends up with lots of dead metrics as a result. Might it be possible to enhance the exporter so that it forgets about collections after they are removed?

[2021-07-23 14:23] msmerc opened #314 "Add config option to restrict collection to specific databases"
Right now you can configure the exporter to monitor specific collections, but this is verbose if you want to monitor all the collections but only in a certain database.

Would we add an option to specify the databases to monitor and the exporter could discover all the collections within that database?

[2021-07-25 10:20] percona-csalguero commented on #276
There is an error when connecting to mongos.
A quick check returns this error
[code]
I've created [PMM-8491](https://jira.percona.com/browse/PMM-8491) to track this issue.

Thanks for the report.

[2021-07-28 07:37] vishal-h opened #317 "List all the metrics without a MongoDB install"
Is it possible to list all the metrics emitted by mongodb_exporter without actually running an instance/replicaset of mongo?

I am going over the code to see if it's feasible but can't find any.

For example if I need all the rs metrics, like mongodb_rs_*, what do I do?

Thanks for any inputs

[2021-07-28 07:40] vishal-h commented on #317
Or $collStats related metrics etc

[2021-07-28 08:52] laurent6 opened #318 "exporter increase logicalSessionRecordCache.activeSessionsCount"
Hi,

The exporter increase   indefinitely logicalSessionRecordCache.activeSessionsCount
I already add the following configuration:
`setParameter:
  logicalSessionRefreshMillis: 120000
  localLogicalSessionTimeoutMinutes: 15
`
but still increase connection. When I stop exporter the logicalSessionRecordCache stop to increase.
I use mongo 4.4.5
what's happens and how can I solve it ?

Thanks

[2021-07-28 11:24] denisok opened #319 "use prometheus exporter-toolkit lib instead of exporter_shared"
To get closer to the Prometheus community we could switch from custom library to new community lib.
Also that would fix this issue:
https://jira.percona.com/browse/PMM-7284

[2021-07-28 11:27] PaulJacobs-percona commented on #317
Hi @vishal-h Thanks for your question. It's not possible to discover available metrics without connecting to an instance. Can you explain more about what you're trying to do? Maybe we can come up with another solution. (Alternatively, come along to our next exporters community meeting to explain in person. If you're interested, let me know and I'll share the details with you.)

[2021-07-28 13:28] vishal-h commented on #317
I've a stand-alone mongodb instance in our sandbox environment and have wired up prometheus/mongodb_exporter. I was in the process of setting up a rs, but then started looking for a shortcut. It's a nice feature to have though.

[2021-07-29 13:53] vishal-h opened #320 "cl_role is always "shardsvr" even for configsvr"
Shouldn't cl_role="configsvr" for config?

mongodb_configsvr{cl_id="some_id", **cl_role="shardsvr"**, instance="host:port", job="mongo_exporter", rs_nm="cnf-serv", rs_state="1"}

I've setup a test-cluster using docker-compose.yml provided

[2021-07-31 22:39] percona-csalguero commented on #318
Hi,

This metrics is not something the mongo exporter "do".
The driver handles the connections pool automatically and AFAIK, there is nothing we can do.
I tried limiting the number of connections the driver will keep open by setting `maxPoolSize` in the URI as
[code]
but `mongodb_ss_logicalSessionRecordCache_activeSessionsCount` is still being increased on every request.

Here you can read more ab

[2021-07-31 22:39] #318 closed

[2021-08-03 14:37] vishal-h opened #321 "rs_state out of sync with member_state"
If I run the exporter and enable it scrape multiple URIs, like

[code]
and query a metric like `mongodb_rs_members_id[5m]`

then the labels are shown like this
`{member_idx="172.19.0.2:27017", member_state="SECONDARY", rs_nm="cnf-serv", rs_state="1"}`

rs_state in the above should be 2 to reflect that it's a secondary

[2021-08-03 18:06] percona-csalguero commented on #321
Hi,

Even when the MongoDB driver allows setting several hosts in the URI, the exporter is not designed to support multiple hosts.
Also, `mongodb.direct-connect` is true by default.
The topology information is being loaded only once per scrape [here](https://github.com/percona/mongodb_exporter/blob/main/exporter/topology_info.go#L64-L76) and you can see it just returns `ReplicasetGetStatus.MyState

[2021-08-03 22:44] percona-csalguero commented on #320
Hi,

Currently the `cluster_role` is only showing if the node is master or not.
That label get its value [here](https://github.com/percona/mongodb_exporter/blob/main/exporter/topology_info.go#L100-L105)
[code]
and the function only returns [3 values](https://github.com/percona/mongodb_exporter/blob/main/exporter/topology_info.go#L127-L142):
[code]
I'm not sure if we should change this value.
I've

[2021-08-04 20:21] #317 closed

[2021-08-05 19:15] percona-csalguero commented on #313
I cannot reproduce the issue.
I've created a new [branch and a PR](https://github.com/percona/mongodb_exporter/pull/323) with a test case. Please fill free to change it to make it prove the issue.

Thanks

[2021-08-05 20:10] #309 closed

[2021-08-05 20:12] percona-csalguero commented on #312
Is server2 part of a replicaset or it is an standalone instance?
`rs_nm` is the replicaset name. If server2 is a standalone instance, you won't have a value for that label.

[2021-08-06 01:50] ygormutti commented on #309
@denisok thanks for asking. It seems to be a network issue because it doesn't happen in all hosts and this issue (now closed) is a bit off-topic, but here are the logs from 3 scrapes, anyway:

[code]
On a second though, returning cached results from last scrape in case of fail doesn't seem a good idea, because it will probably cause false positives in alerting systems.

However, the exporter log m

[2021-08-06 06:55] thedje commented on #312
It's an standalone instance.

Ok. So, what metric can I use to see the state (up or down) of my base (s)?

[2021-08-06 08:47] chadr123 opened #324 "Any plan to release the mongodb exporter from release-0.1x branch"
Do you have any plan to release the mongodb exporter from release-0.1x branch? Because there are several improvements but it is still not released.

[2021-08-06 11:25] denisok commented on #324
Hi @chadr123, any reasons to not use not version ?

[2021-08-06 12:14] percona-csalguero commented on #312
If I understand correctly what you need, when [PR #322](https://github.com/percona/mongodb_exporter/pull/322/files) is merged you will be able to use the `rs_state` label.

[2021-08-06 13:19] denisok commented on #309
I am guessing those messages are from mongo driver and has nothing to do with the exporter, maybe there is a way to pass some `debug` flag or enable debug log level to get more useful info.

As for failed scrapes:
https://prometheus.io/docs/instrumenting/writing_exporters/#failed-scrapes

I think it is also up to monitoring agent, how it is configured on what data to push or how indicate in DB tha

[2021-08-06 13:23] #312 closed

[2021-08-06 19:47] percona-csalguero commented on #309
Those messages an be caused by a different problem, maybe because the server is a mongos or a standalone like in https://github.com/percona/mongodb_exporter/issues/296.
Anyway, feel free to open a new issue with more information so we can reproduce it.
If you can provide more context information, I could write a new test for this case.

Regards

[2021-08-06 19:54] percona-csalguero commented on #296
PR: https://github.com/percona/mongodb_exporter/pull/325/files

[2021-08-09 00:21] chadr123 commented on #324
@denisok Hi, I could not use the latest version of the mongodb exporter which starts with 0.2x due to following issues.
 - https://jira.percona.com/browse/PMM-7947
 - https://jira.percona.com/browse/PMM-7424

[2021-08-09 09:23] laoxiaokang opened #326 "error occured during connection handshake"
Hello, I am a newbie who is new to this project. I deployed it according to your instructions, but the following error occurred:
[code]
My deployment command is as follows：
[code]
The data source I tested can be connected.
I hope to get a reply，Thank you!

[2021-08-09 09:26] JiriCtvrtka commented on #326
@laoxiaokang Hi, can you provide error? Probably you missed it.

[2021-08-09 09:35] laoxiaokang commented on #326
Sorry, I did miss the key information

[2021-08-09 16:16] #296 closed

[2021-08-09 22:56] ygormutti commented on #309
Unfortunately, these logs comes from a replica set with three data-bearing nodes.

Thanks, but the only way I can reproduce this is connecting to some nodes from different networks. Example: exporter for hulk2 running on gcloud fails, while on local ISP it works flawlessly; exporter for hulk3 works fine running from both networks. :confused: Sound like networking issue to me.

[2021-08-10 05:21] kanakagrawal commented on #286
I've encountered a similar issue trying to run checks on my local setup. Here are the details (Code is from this commit - efaa8b9d5ab2f801c8a79b78f15e2b89e82d5977)-
[code]
[code]
[code]

[2021-08-10 11:12] percona-csalguero commented on #309
I know it is a hack and not a real solution but, have you tried to increase the [timeout options](https://docs.mongodb.com/manual/reference/connection-string/#timeout-options) in the URI?

[2021-08-11 11:14] denisok commented on #326
I see you use ssl, have you provided certificates ?

[2021-08-11 11:15] denisok commented on #324
PMM-7947 looks to be solved: #322 ?

[2021-08-11 11:24] chadr123 commented on #324
Thank you for your reply.

I didn't check whether #322 fixes the PMM-7947. But the actual problem is that the mongodb exporter did not collect much metrics for the `mongos`.
So, if the mongodb exporter collect metrics which following dashboard queries metrics, that is fine.
 - QPS of Mongos Service in the MongoDB Cluster Summary
 - All fields in the MongoDB Instances Overview with specific Node Na

[2021-08-11 11:25] chadr123 commented on #324
Yeah. I expect that #329 could resolve the PMM-7424. :)

[2021-08-12 03:11] laoxiaokang commented on #326
@denisok  Hi,My mongodb is a community version that does not support SSL. I set ssl to false and printed the following information:
[code]
How should I set it up, hope to get your help, thank you very much!

[2021-08-12 03:46] laoxiaokang commented on #326
[code]
 how should I solve this kind of error, it's really a headache

[2021-08-12 09:56] denisok commented on #326
Hi @laoxiaokang,
it is hard to say if you are providing just different errors. Could you provide more details, what you are doing, what version and give the command execute together with errors output.

Looks like you are trying to connect with username and password to the mongodb `admin` collection and your user don't have enough rights to do so.

@percona-csalguero we probably need to document w

[2021-08-13 02:39] yakexi07 opened #330 "error occured during connection"
./mongodb_exporter --mongodb.uri=mongodb://rwuser:U52nYUv8XRpQdUC=@172.16.0.213:8635   --web.listen-address=:9131 --log.level=debug   --mongodb.direct-connect=false  --compatible-mode=true

mongodb_exporter version is lastest ， 172.16.0.213 is mongodb cluster Primary, the error log is

ERRO[0003] Cannot get topology info: error getting cluster ID: (Unauthorized) no this command{ replSetGetConfig:

[2021-08-13 21:31] mjseid commented on #296
@percona-csalguero I'm seeing this as well with a sharded cluster pointing to mongos's.  Since your PR is not merged/released yet, I tried to do a custom build from your branch and it is still giving the same error for me.  Not sure if I did the build correctly

[code]

I'm running the resulting binary like this:
[code]

result is
[code]

[2021-08-17 11:33] percona-csalguero commented on #296
Hello,

MongoDB exporter can't handle multiple servers in the connection list.
Could you specify only one and try again please?

Thanks

[2021-08-17 12:02] percona-csalguero commented on #330
Hello,

Could you provide a way to start a server like yours? Is it a standalone instance?
A `Dockerfile` perhaps?

Thanks.

[2021-08-17 15:05] mjseid commented on #296
Ah, I guess the issue must have been on  my end.  I got the 0.11.2 version working yesterday but I tried the released 0.20.7 version today and its working now.

Very sorry for the confusion, but thank you for checking with me.

Also just to note, providing a string of 3 mongos servers in the URI does work for me for both the 0.11.2 and the 0.20.7 versions

[2021-08-18 12:33] percona-csalguero opened #331 "Connection can take more than specified by the URI connectionTimeoutMS param"
Even when the URI has connectionTimeoutMS=1000 (one second) if the server we are trying to connect to is down, the timeout is 30 seconds (the driver's default) instead of 1 second

[2021-08-18 12:43] percona-csalguero commented on #331
Hint:
It might be related to the [server selection timeout](https://github.com/mongodb/mongo-go-driver/blob/96c7135d19c54ecbbf754aede941235dd587de7d/x/mongo/driver/connstring/connstring.go#L751) which we are not setting.

[2021-08-19 07:37] yaron commented on #314
you can use wildcards to select all collections in a database.
This worked for me to get metrics on all collections in the "yaron" database:
`--mongodb.collstats-colls=yaron.* --mongodb.indexstats-colls=yaron.*"`
Maybe this needs to be added to the documentation, but I think this solves the ticket, or am I missing something?

[2021-08-19 17:22] percona-csalguero commented on #313
Closing due to no response. I am assuming this cannot be reproduced.

[2021-08-19 17:22] #313 closed

[2021-08-31 08:02] whiemstra opened #335 "TLS not working correctly: tlsCertificateKeyFile not sending intermediate(s)"
In the 0.10.x, 0.11.x and 0.20.x versions using TLS works not as expected. Since version 0.10.x the `--mongodb.tls-cert` was replaced with the connection string option `tlsCertificateKeyFile`. When using a public and private certificate and also a chain of intermediates (all in the same pem file) the chain of intermediates is not send to the MongoDB instance and the connection will fail, which did

[2021-09-01 09:22] kanakagrawal opened #336 "Missing old metrics for dbStats"
I ran the latest main branch with the following command on mongod instance -
[code]

On checking metrics, there are no metrics for `mongodb_mongod_db_*`
[code]

If I run the binary from `release-0.1x` branch, we get these metrics -
[code]

With `--compatible-mode` set, old metrics should be available. I added a comment for this [here](https://github.com/percona/mongodb_exporter/pull/329#issuecomme

[2021-09-01 10:11] yakexi07 commented on #330
I am sorry，replay too later， you can  reference this  https://www.alibabacloud.com/product/apsaradb-for-mongodb?spm=a3c0i.239195.6791778070.127.7af912bdu7ME2M

[2021-09-01 11:09] denisok commented on #324
should be fixed here: https://github.com/percona/mongodb_exporter/issues/336

[2021-09-02 05:30] kanakagrawal commented on #336
Consider the following dbstats metric - `mongodb_dbstats_testdb_indexSize{cl_id="611fa5e6165e2964515910a7",cl_role="shardsvr",rs_nm="rs1",rs_state="1"} 49152`

In old metrics, this would have been - `mongodb_mongod_db_index_size_bytes{db="testdb"} 49152`

To transform such metric into its old metric format is not simple as name of database(`testdb` in this example) is part of the metric name. Ther

[2021-09-02 09:42] percona-csalguero commented on #336
It looks good to me.
Thanks

[2021-09-15 15:52] #336 closed

[2021-09-22 07:00] denisok commented on #330
maybe it is the same issue here: https://github.com/percona/mongodb_exporter/issues/326#issuecomment-906600407

[2021-09-25 12:20] jaya-rama opened #346 "How can I run this in kubernetes?"

[2021-09-27 07:46] denisok commented on #346
we have a feature waiting to be implemented #265. Theoretically you could prepare container by yourself and run it as a sidecar container.

[2021-09-27 15:20] ckopparthi opened #347 "mongodb_up metric is not reflecting correctly"
I am running the pmm-agent in the kubernetes cluster as a stateful, restarted the MongoDB pod and the mongodb_up is not set to zero

pmm-agent and pmm-server version: 2.22.0

At the MongoDB pod restart the below is the log that I get
[code]
Logs say that the `mongo_up is set to 0`. But it is not set. It shows as If the metrics are not scrapped.

Output of pmm-admin status

[code]

[2021-09-28 07:47] denisok commented on #347
Hi @ckopparthi ,

I don't know about `mongo_up` but probably the real issue is `Addr: mongodb-cs-cfg-0.mongodb-cs-cfg.dev.svc.cluster.local:27019, Type: Unknown, Average RTT: 0, Last error: connection() error occured during connection handshake: dial tcp: lookup mongodb-cs-cfg-0.mongodb-cs-cfg.dev.svc.cluster.local on 10.232.64.10:53: no such host `

so it just can't connect. Could you please shar

[2021-09-28 17:24] in4mer opened #349 "mongo downtime causes exporter to become unresponsive"
After some period of mongo downtime (necessary and automatic), the exporter becomes unresponsive, even after mongo has resumed normal operation.

Attaching strace shows evidence of a filehandle/socket leak:

[code]

[2021-09-29 07:07] ckopparthi commented on #347
I restarted the ` mongodb-cs-cfg-0.mongodb-cs-cfg.dev.svc.cluster.local:27019` server. So it shouldn't be reachable. When the mongodb server is not reachable is guess `mongo_up` should be 0

[2021-09-29 07:47] denisok commented on #347
ah, I see, so you are saying metric is not sent. Would check.

[2021-09-29 08:58] ckopparthi commented on #347
@denisok Thanks of quick reply

[2021-09-29 11:00] denisok commented on #320
fixed by #338 ?

[2021-09-29 11:20] denisok commented on #347
@ckopparthi with pmm we pass compatibility flag and thus it affected by different bug. @percona-csalguero says it will be fixed by #348 so if there are no metrics it still will get you that metric,

[2021-09-29 13:23] ckopparthi commented on #347
@denisok Thanks for the update, can you please let us know when will this fix be released. Do you have any estimated time

[2021-09-29 14:54] denisok commented on #347
@ckopparthi let see if we can make this:
https://github.com/percona/mongodb_exporter/milestone/3

I would say before 5th Oct we should have some release.

[2021-09-30 12:22] percona-csalguero commented on #320
Yes. I am closing this issue as it will be fixed by #338

[2021-09-30 12:22] #320 closed

[2021-10-01 06:48] Sallaxer commented on #277
We also got this bug. With an exporter, the cluster has more than 1000 tasks, without 120

[2021-10-04 14:12] kbudde commented on #265
Hi,

I can prepare a github workflow to create and upload a container image to dockerhub with goreleaser.
I just need to know which namespace to use:
- e.g. percona/mongodb_exporter

You need to create two secrets:
- DOCKERHUB_USERNAME, e.g. percona
- DOCKERHUB_TOKEN, see https://docs.docker.com/docker-hub/access-tokens/

If you want to use a different namespace or some other provider, e.g. quay.i

[2021-10-04 16:09] AsterYujano commented on #64
Hello, I was looking for a docker image recently (to provide Grafana insights of a MongoDB sharding) and indeed it would be nice to have it in the Readme, I am going to add it.

[2021-10-05 16:40] percona-csalguero commented on #277
I cannot reproduce the issue.
I have these MongoDB instances:
[code]
Then I ran the exporter:
[code]
in a different terminal I ran `ss` and I have only 2 connections:
[code]

[2021-10-05 18:13] denisok commented on #347
https://github.com/percona/mongodb_exporter/releases/tag/v0.20.8 released

[2021-10-07 07:17] rnovikovP opened #358 "Start to follow Prometheus way of enabling/disabling collectors"
Some time ago Prometheus community started the migration to eliminate `--enable.COLLECTOR`  and `--disable.COLLECTOR` flags to more standard approaches like:  `--collector.COLLECTOR` and `--no-collector.COLLECTOR` (https://github.com/prometheus/node_exporter#collectors)

We probably, should we go with the same design in mongodb_exporter.

[2021-10-07 09:21] #60 closed

[2021-10-07 16:00] ckopparthi commented on #347
Do you mean, it still hangs in the latest version of mongodb_exporter?

On Thu, Oct 7, 2021 at 7:30 PM Denys Kondratenko ***@***.***>
wrote:

[2021-10-07 16:04] denisok commented on #347
don't know yet

[2021-10-11 06:35] joancafom opened #360 "Binaries for v0.20.9 unavailable"
Hi!

Recently, a new version of MongoDB Exporter (v0.20.9) has been [tagged and published on the releases page](https://github.com/percona/mongodb_exporter/releases/tag/v0.20.9). Past version releases included both the source code and some compiled binaries, as well as a brief changelog. For instance, see [v0.20.8](https://github.com/percona/mongodb_exporter/releases/tag/v0.20.8).

 This does not

[2021-10-11 06:36] denisok commented on #360
sorry, but that just a test release, to test docker container creation. 0.20.9 is not planned yet, I am going to delete it. Next release will be 0.21.0.

[2021-10-11 06:37] denisok commented on #360
btw, that is a Tag, not a Release.

[2021-10-11 08:00] denisok commented on #360
np :) Thanks for reporting!

[2021-10-12 01:49] in4mer opened #361 "mongodb_exporter fails to start if mongo is down during startup period"
at startup, if mongo is not listening yet, mongodb_exporter fails to start:

[code]

In my experience, the point of exporters is to connect to the existing monitored instance process at the connect-time of a scraper, and relay the relevant metrics at that time.  Failure absent a metrics request seems like the cart is being put before the horse, here.  This also breaks the eventually-consistent mod

[2021-10-12 06:25] denisok commented on #361
Hi Ian,

could you please provide a little bit more details? What version is that? Maybe attach debug logs to check.

Could you please also try older version (0.20.6/5), is it reproducible ?

Thanks,
Denys

[2021-10-13 08:55] denisok commented on #361
thanks @in4mer . I will try to reproduce it, but need more details. I presume you are using binary from the GH releases? Or maybe you build it by yourself (if so - how)?
Do you use container or what is the environment there (OS version)?
If you have container based on some release, could you please provide details what it is based at, so I would work on the same enviroment.

[2021-10-13 09:33] Deepak275 opened #362 "How to build the arm64 docker image."
Hello Team,
We have requirement of arm64 mongo expoter as our k8s nodes are arm64. Please help us how we can build the same, as I couldn't find anything from Readme.
TIA

[2021-10-13 16:27] in4mer commented on #361
I've been using the github binaries, run on both RHEL 6 equivalent, and ubuntu 21.04.  All test cases are 1) download, 2) untar, 3) run, 4) error.  100% reproducible.

[2021-10-14 18:56] percona-csalguero commented on #347
In the latest version, the `mongodb_up` metric is reflecting the current state.
I ran a test starting the exporter's sandbox, connected an exporter, then stopped the instance and checked the exporter's output:

[code]

In the exporter's log you can see the error but that doesn't breaks the exporter:
[code]

[2021-10-15 04:57] mk-luo opened #364 "PMM-9024 "--disable.dbstats" option is not exist"
Hi
    From the README , I see "--disable.dbstats" option, but it is not supported by program. I think it must be a typo, "--enable.dbstats" is correct !

[2021-10-18 09:10] TamarNR opened #369 "copying image to another server and starting mongo-exporter"
Hi,

I am getting this error trying to run the container:
`docker run --name mongodb-exporter -p 9216:9216 --env "MONGODB_URI=mongodb://myadminuser:oct-%2B2020@11.9.1.13:27000/?replicaSet=octopusrs0&authSource=admin" bitnami/mongodb-exporter:latest`

[code]

I do not know if this has any relation to the problem, but this is happening on a server with no access to the internet, so I loaded the mong

[2021-10-18 12:02] #364 closed

[2021-10-20 23:23] in4mer commented on #361
Thank you all, very much. Any hope of getting this out as a patch micro to an existing stable version?  I posted this question elsewhere but it might've been on a PR and hence lost.

[2021-10-27 11:09] #358 closed, assigned to nobody

[2021-11-11 02:49] ittoyxk opened #377 "Is there a corresponding grafana dashboards?"
Is there a corresponding grafana dashboards?

[2021-11-11 07:23] davidmpaz commented on #377
Hi, have you check this other project in same org: https://github.com/percona/grafana-dashboards

Have fun ;-)

[2021-11-11 08:05] ittoyxk commented on #377
Thank you.

[2021-11-12 12:15] Andy-Voigt opened #379 "Health check for Docker container"
Hello,

it would be nice to have ### curl installed in this image to have a health check for docker.

Regards, Andy

[2021-11-12 12:48] Andy-Voigt opened #380 "Container: Passwort file as source of the mongodb passwort"
Hello,

it would be relay helpful if the docker container can read a password file as source of the mongodb password.

[2021-11-14 00:04] hustxx opened #381 "$collstats not working with mongodb 5.0"
Tried this with my mongodb 5.0 setup, keep getting the following failure, any suggestions?

/usr/local/bin/mongodb_exporter --mongodb.uri=mongodb://mongodb_exporter:password@localhost:27017/admin --mongodb.collstats-colls=db.col1

ERRO[0002] cannot get $collstats cursor for collection db.col1: (Location40415) BSON field '$collStats.latencyStats.key' is an unknown field.
ERRO[0007] cannot get $coll

[2021-11-16 05:57] abhinavkulkarni commented on #377
Hi @davidmpaz,

Is there a way to bring up the dashboard in self-hosted grafana (along side self-hosted prometheus MongoDB exporter)?

That is, typically grafana dashboards have an id that you can use to pull the dashboard. I am not sure where to find such an id for the linked dashboard in your reply.

Thanks.

[2021-11-16 09:14] davidmpaz commented on #377
Hi @abhinavkulkarni,

https://grafana.com/docs/grafana/latest/dashboards/export-import/

hope it helps

[2021-11-17 09:48] denisok opened #382 "add deb and rpm packages"
**Is your feature request related to a problem? Please describe.**
DEB and RPM packages  should be build for mongodb_exporter

https://jira.percona.com/browse/PMM-5598

**Describe the solution you'd like**
GoReleaser can be wired to nfpm to generate and publish .deb, .rpm and .apk packages.
Check go-releaser NFPM section for more details: https://goreleaser.com/customization/nfpm/

**Describe alte

[2021-11-17 13:19] denisok commented on #380
Hi @Andy-Voigt,
thanks for the idea. Could you please help me to understand what format that password file should be ? keyfile? some specific format? Or just what evere?
Thanks,
Denys

[2021-11-17 13:23] denisok commented on #379
I wonder if we just could add it as option to mongodb_exporter itself. To not add additional binaries/layers to the container we could leverage libs that we already have inside the exporter and just check connection by simple http request, or implement some other way of health checking (rpc connection, signal, whatever).

k8s has external livenessProbe/readinessProbe which looks better and doesn't

[2021-11-17 13:26] denisok commented on #377
https://github.com/percona/grafana-dashboards
https://github.com/percona/grafana-dashboards/blob/main/misc/convert-dash-from-PMM.py the script to conver them, but something could not work.

[2021-11-17 13:34] denisok commented on #369
@TamarNR could you try recent image docker run -d -p 9216:9216 -p 17001:17001 percona/mongodb_exporter:0.20 --mongodb.uri=mongodb://127.0.0.1:17001
 ?

in your logs it looks like connection issue, could you check that you can connect to the mongo server ?

[2021-11-17 14:06] estryzek commented on #382
I have come up with install instruction that has been tested on Ubuntu 20.04 and is working, some tweaks maybe needed for your setup.

Hope this helps others and should be added to docs.

Assuming you are su root

# If you have many exporters running and only want one account to start the services

useradd -rs /bin/false node_exporter

# verify current package required for your build.
wget https:/

[2021-11-17 15:19] Andy-Voigt commented on #380
Hello @denisok,

Docker mounts secrets (passwords) under /tmp/SECRET_NAME as plain text file. This is done to keep the envoriment variables free from passwords. If we cannot use this mechanism we have to write the mongodb passwort to our compose file.

[2021-11-17 19:30] Andy-Voigt commented on #379
The health check in docker must be a command of a container. Any liveniss command with a return of 0 or 1 would be perfect.

[2021-11-18 10:38] denisok commented on #379
yep, like `mongod_exporter --isalive` or something like that ) so that would be one binary in a container

[2021-11-18 18:10] jdry1729 opened #383 "Collecting collstats data for collections with periods in their name"
**Describe the bug**
I don't believe it is possible to collect coll stats data for collections which have a period in their name, e.g., `my.collection`.

**To Reproduce**
Pass the parameter `--mongodb.collstats-colls=mydatabase.my.collection` to the program.

**Expected behavior**
Periods in collection names are quite common at least from my experience. So the exporter should be able to collect da

[2021-11-19 14:50] johi12 commented on #380
@Andy-Voigt One way you can solve this is to do it as it's done in the Grafana docker image, they have a shell script as an entrypoint and that script contains this, https://github.com/grafana/grafana/blob/f5641c0293e5c2218b1e2506e433df51390ff63f/packaging/docker/run.sh#L49-L63

Then you can pass the path to the secret as an environment variable.

[2021-11-19 17:39] Andy-Voigt commented on #380
Thanks for your replay. Thats pretty close to what we have done today. We "fork" the original Docker image and copy the mongodb_exporter to an ubuntu image. With that we create a bash script that fetch a config file from our spring config server and grep out the URL, password and username for mongodb. Now we can run that "sidecar" as normal service in our swarm.

But it would be much simpler if we

[2021-11-19 20:09] rnovikovP opened #385 "--enable.top flag now inconsistent with others"
**Is your feature request related to a problem? Please describe.**

The current naming of `--enable.top` flag makes it inconsistent with other flags.
It's also confusing name "top"

**Describe the solution you'd like**
Rename `--enable.top` into `--collector.topmetrics` for matter clarity and consistency

**Describe alternatives you've considered**
Do not do anything and keep inconsistency.

[2021-11-19 20:23] rnovikovP opened #386 "More useful metrics from --collector.dbstats"
**Is your feature request related to a problem? Please describe.**
As for now, flag `--collector.dbstats` exposes metrics in a way - they're not easy for users as to create a dashboard with this data you need to extract DB  name from metrics name. This also makes metrics names unpredictable.

Example:
mongodb_dbstats_**testdb**_fsUsedSize{cl_id="611fa5e6165e2964515910a7",cl_role="shardsvr",rs_nm="

[2021-11-22 13:16] percona-csalguero commented on #386
The mongodb_exporter already expose dbstat metrics having the database name as a label among the topology labels.
Example:
[code]

Do we need any other change?

[2021-11-23 09:53] denisok commented on #380
OK, now I got it.
https://docs.docker.com/engine/swarm/secrets/
https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/

make sense now to add both env and read from file options to mongodb_exporter so it could pick up secrets and maybe also config from file or from the env vars.

[2021-11-23 14:42] rnovikovP commented on #386
Oh, I see!
I was 👁️  on https://github.com/percona/mongodb_exporter/pull/329#issue-965670076 not in the latest and related implementations.  In this case - the  issue can be closed, LGTM

[2021-11-23 14:42] #386 closed

[2021-11-24 14:41] #385 closed

[2021-11-26 06:25] sitoc commented on #347
Maybe the dubious point is the "mongo_up is set to 0" in the exporter log, but the metric name is "mongodb_up", different name caused the exception, I think. Looking forward to your answer, thanks

[2021-11-30 12:30] kohtala commented on #383
I tried `--discovering-mode --mongodb.collstats-colls=db` and it also found only the top level collections without dot.

[2021-11-30 13:25] denisok commented on #64
percona/mongodb_exporter:0.20

[2021-11-30 13:25] #64 closed

[2021-12-06 17:43] ALakkyreddy9579 opened #391 "Make Release errors out ::: release failed after 100.09s error=failed to build percona/mongodb_exporter:0.20: exit status 1: error: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"
**Describe the bug**
From v0.20.9, running _make release_ failing building docker images with error
"release failed after 100.09s error=failed to build percona/mongodb_exporter:0.20: exit status 1: error: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"

### I have docker up and running no issue with connecting docker(even tried with cask docker on

[2021-12-07 10:15] jonaskint commented on #346
Another approach for this could be something similar on how Istio does it's Envoy sidecar injection. They work with a configmap that specifies the actual sidecar template. The percona mongodb operator could then add those based on the labels that are attached to the statefulsets that run a mongo cluster.

[2021-12-07 16:17] denisok commented on #391
hm, that is probably because it tries to build a container inside of a container.

could you try and pass `-v /var/run/docker.sock:/var/run/docker.sock` ?

https://github.com/percona/mongodb_exporter/blob/main/Makefile#L79

[2021-12-07 16:22] denisok commented on #391
that is actually from the ofical doc: https://goreleaser.com/install/#running-with-docker, if it works we would need to fix it,

[2021-12-09 10:10] #382 closed

[2021-12-13 12:15] tmikulin commented on #347
also not working for me, the mr for this was https://jira.percona.com/browse/PMM-8954 but I tried versions for mongodb exporters linux versions; **0.20.8**, **0.20.9** and **0.30.0** and they don't work (I have a non container environment)! The exporters log gives: "Cannot connect to MongoDB, server slelection error, context canceled bla bla"....

This is kind of a big deal, because I installed th

[2021-12-13 13:21] rnovikovP opened #394 "Useful metrics for Collection statistics"
**Is your feature request related to a problem? Please describe.**

The same problem I've mentioned in  https://github.com/percona/mongodb_exporter/issues/386 (and it wasn't a problem, in reality, my misread ) we can see for metrics like

collstats_collector:
mongodb_**testdb**_**testcol_01**_latencyStats_commands_latency{collection="testcol_01",database="testdb"} 0

top_collector:
mongodb_top_tot

[2021-12-13 14:43] denisok commented on #347
@tmikulin could you please provide more detail? If mongodb_exporter couldn't connect to mongo - it couldn't report any issues, how it would know if mongo up or down. When it is connected - yes it should report the mongodb_up anyway but with 0.

In your case, does it happens on a start ? do you provide right creds?

[2021-12-13 15:00] tmikulin commented on #347
@denisok My issue is as described it this ticket https://jira.percona.com/browse/PMM-8954, this specificaly doesn't work "**we are expecting that mongodb_exporter should respond even mongodb database stopped and it should give mongodb_up=0**"

When the mongdb stoppes working, the mongodb exporter doesn't give mongdb_up=0, but an error that it can't connect to the db, so how can I get an info if mo

[2021-12-13 15:29] denisok commented on #347
@tmikulin could you please provide logs? As you see original ticket is solved so it should work.
Please enable `--log.level=debug` and connect to the mongodb, then get mongodb down. In parallel could you please gather curl output from the metrics endpoint - when it works and when it doesn't. Also give it a little time - 5min or so to see if there some large timeouts involved.

And please provide l

[2021-12-14 10:20] tmikulin commented on #347
I think it's the version of the mongodb server used, but to recreate it I used these files:

[code]

and for running the mongodb exporter I used the most recent version:

`docker run -d --name mongodb_exporter -p 9216:9216 -e "MONGODB_URI=mongodb://root:rootpassword@192.168.0.19:27017" --ip=IP_ADDRESS percona/mongodb_exporter:0.30
`

Stop the mongodb server container, and the mongodb exporter just

[2021-12-14 12:17] vignesh-nethaji opened #395 "Error building MongoDB exporter"
**Mongo Db URI issue**
a. I installed all dependency packages and mongo DB also running in my machine, MongoDB port is 27017
E:\Temp\mongodb_exporter-main>go run main.go
time="2021-12-14T17:06:56+05:30" level=info msg="Starting HTTP server for http://:9216/metrics ..." source="server.go:140"
time="2021-12-14T17:06:56+05:30" level=error msg="Cannot connect to MongoDB: invalid MongoDB options: error

[2021-12-14 17:23] denisok commented on #347
@tmikulin I don't remember that we added environment support to mongodb_exporter. Could you please pass `--mongodb.uri`:

`docker run -d -p 9216:9216 -p 27017:27017 --ip=IP_ADDRESS percona/mongodb_exporter:0.30 --mongodb.uri=mongodb://root:rootpassword@192.168.0.19:27017`

[2021-12-15 08:49] tmikulin commented on #347
same thing man....the exporter stops working....

[2021-12-15 12:30] denisok commented on #395
@vignesh-nethaji you didn't specify uri to connect to.

[2021-12-16 15:17] percona-csalguero commented on #347
I am currently working on (PMM-9312](https://jira.percona.com/browse/PMM-9312) and I made the fix as part of that ticket.

[2021-12-23 07:30] bmreading opened #397 "$collStats Not Appearing"
**Describe the bug**
$collStats don't appear anywhere in metrics

**To Reproduce**
Steps to reproduce the behavior:
1. With MongoDB version 4.2, use command as follows:
[code]

**Expected behavior**
Find exposed metrics at http://localhost:9216/metrics starting with the following format: "mongodb_mydb_mycol_xxx" or "mongodb_collstats_xxx" with a label like "collection="mycol""

**Logs**
No logs ar

[2021-12-23 18:07] ksg1998 opened #398 "How to find replication lag details using new Metrics?"
Hi with the new naming conventions of the metrics how are we supposed to get the replication lag details?  "mongodb_mongod_replset_member_replication_lag" - This works if I give the flag --compatible-mode. But without this, suppose I want to use only the new metrics then what is the equivalent?

Also when I use --compatible-mode, only the old metrics work. Metrics such as mongodb_rs_members_state

[2022-01-04 12:54] percona-csalguero commented on #397
This should be fixed in PMM 2.26.
For 2.26 discovering mode and filters were fixed.
Example.
#### Start the exporter
[code]
#### Curl to get metrics
[code]
Sample Output
[code]

[2022-01-04 12:54] #397 closed

[2022-01-07 08:17] kristianfzr opened #403 "MongoDB on Docker connection refused"
Hi there,

I am using MongoDB on docker, image `mongo:4.0`. There is no user name or password configuration and the docker container is set to `--bind_ip 0.0.0.0`, so I can connect directly on 127.0.0.1:27017. The MongoDB server is working as it should. But as I try to run the mongodb-exporter the following error appears:

`time="2022-01-07T07:44:22Z" level=info msg="Starting HTTP server for http:

[2022-01-07 12:24] percona-csalguero commented on #403
Hi,

It is hard to say the reason of this error.
The project has its own sandbox with the same conditions you mention and the exporter is able to connect.
Could you provide the docker-compose.yml file or a way to reproduce it?

Thanks.

[2022-01-07 16:13] kristianfzr commented on #403
Hi,

I did manage to connect it. I had the same issues with a nginx exporter, its network related. The production setup is in a replicaSet but before that I was testing locally with 2 containers. One is a MongoDB docker container and the other is the exporter. For a setup  I have a compose file for the mongodb:
[code]
Then I used your example command and added `--network host`.
`sudo docker run -d

[2022-01-11 18:41] juanluishg opened #412 "ERRO[0030] Cannot connect to MongoDB"
**Describe the bug**
I'm trying to connect mongo_exporter to a mongodb atlas instance, it's a serverless instance.
But when I'm using the mongodb uri I'm getting the following error:

ERRO[0030] Cannot connect to MongoDB: cannot connect to MongoDB: server selection error: server selection timeout, current topology: { Type: Single, Servers: [{ Addr: myproject.gqgr8.mongodb.net:27017, Type: Unknown,

[2022-01-12 12:13] revitall opened #414 "Exporter metrics suddenly disappeared"
**Describe the bug**
We are using your exporter to monitor our MongoDB environments and some days ago we had an issue. Some of the metrics suddenly disappeared and we didn't make any change. The weird thing is that some environments still have all the original metrics. We tried to reinstall the exporter on the problematic environments using the one we have on the environments that work but it also

[2022-01-12 12:18] denisok commented on #403
https://github.com/percona/grafana-dashboards

they are more PMM related but there is a convertor:
https://github.com/percona/grafana-dashboards/blob/main/misc/convert-dash-from-PMM.py

[2022-01-12 12:18] #403 closed

[2022-01-12 12:21] JiriCtvrtka commented on #412
@juanluishg Could you try connect to mongo db from mongo shell?

[2022-01-12 13:35] denisok commented on #414
@revitall thanks for the report, what is the version of exporter?
logs - by default they are redirected to the stdout/err so you should see it there, depends on how you run the exporter (systemd, container) they could be in different places (journald, docker).
It is hard to say what is going on without any error or logs, please gather the logs. It might be that connection is lost.

[2022-01-12 14:49] revitall commented on #414
I ran the command "<path>/mongodb_exporter --version", to check which version of the exporter I'm using and that's what I got :
build date: 19700101-02:00:00
go version: go1.15.5

About the logs, I tried to check them with the command "journalctl -u mongodb_exporter.service", but there weren't any.

[2022-01-12 19:49] juanluishg commented on #412
Yes, I try and I can connect with a mongo shell. I can execute comands and get data. But with mongo_exporter not

[2022-01-18 09:33] antuspenskiy opened #418 "TLS Support"
Hello!

I tried the latest version of `mongodb_exporter 0.30.0`, and I didn’t quite understand whether there is tls support and there are no examples in the documentation on how to set it up, as I understand it, you can use `--mongodb.uri` , where you can specify the necessary parameters for tls when connecting to mongodb.

I tried specifying additional parameters with ssl and tls as mentioned her

[2022-01-18 10:08] antuspenskiy commented on #418
Sorry, i found problem typo in `&` in `mongodb.uri`, my bad (

[2022-01-18 10:08] #418 closed

[2022-01-19 12:28] JiriCtvrtka commented on #412
@juanluishg Please if you can provide us more logs and how you connecting from mongo shell to make debug here easier. Thank you

[2022-01-27 03:39] chj9 opened #422 "How can I add the service_name and cluster field labels to the monitoring indicators of the index for compatibility with pmm dashboard"
How can I add the service_name and cluster field labels to the monitoring indicators of the index for compatibility with pmm dashboard
![image](https://user-images.githubusercontent.com/16426260/151287901-ed81add3-2508-4a60-b010-39e085dc150f.png)

[2022-01-27 08:14] chj9 commented on #422
![image](https://user-images.githubusercontent.com/16426260/151318613-bbe6f91e-66ba-45a6-b412-c9c946df1355.png)

[2022-01-27 08:14] #422 closed

[2022-01-27 09:38] chj9 opened #423 "collecting mongdb cluster indicator data is missing"
### For example
**MongoDB Instances Overview > Total Used Mapped Memory**
mongodb_ss_mem_mapped
mongodb_ss_mem_mapped_with_journal
![image](https://user-images.githubusercontent.com/16426260/151332312-bd6e2fb5-7574-47e1-988e-eb12712d442f.png)

**MongoDB Cluster Summary > QPS of Mongos Service**
rate(mongodb_op_counters_total{service_name="router-45",type!="command"}[10s])
![image](https://user-ima

[2022-01-27 20:15] denisok commented on #391
closing, feel free to re-open or comment

[2022-01-27 20:15] #391 closed

[2022-01-27 20:16] #319 closed

[2022-01-27 20:25] denisok commented on #398
Hi @ksg1998, sorry for the late response.

how do you run mongodb_exporter, could you please provide the keys that you are setting?

Could you just enable all the collectors with `collect-all` and then curl metrics endpoint? You will see all the metrics comming from mongo and their names.

I would try it later to test what I could see.

[2022-01-27 22:11] denisok commented on #423
Hi @chj9,

so you are getting other metrics and only some are missed?

is that dashboard available somewhere so I could test? What is mongodb version?

Thanks,
Denys

[2022-01-28 01:02] chj9 commented on #423
Most monitoring metrics are collected
My MongoDB Version is 4.2.10，is a sharded cluster

[2022-01-28 01:02] chj9 commented on #423
Most monitoring metrics are collected
My MongoDB Version is 4.2.10，is a sharded cluster

[2022-02-01 17:26] dcram opened #430 "Where are the collection and db stats ?"
When I start the exporter with docker, no stats about my collections and databases are printed.

I tried many combinations of the CLI launcher's options, like this one:

[code]

I can see many many lines in the output metrics: (small excerpt below)

[code]

But none seems to match any of my collections and databases.

Our server is running MongoDB 4.0, as single instance (size-1 replica set)

Am I

[2022-02-02 13:22] ShashankSinha252 commented on #430
Hi @dcram , thanks for reporting this issue.

Since you see some metrics, it should not be a connectivity issue. To rule out privilege issues in MongoDB for the user used by you, can you execute dbStats or collStats command by connecting to MongoDB via mongo shell?

[code]

In case of a privilege issue, you'll need to add collStats and dbStats [privilege for the user](https://docs.mongodb.com/manu

[2022-02-02 14:20] dcram commented on #430
Thanks @ShashankSinha252 . Your answer first helped me solve my issue, and led me to another one.

Trying to play with mongosh and answer to you, I figured out that I had the following issue with my connection uri:

1. it was missing the target database name as the path
2. it was missing the param `authSource=admin`

The right connection uri, if I want to read the dbStats and any collStats from th

[2022-02-04 16:43] amulrajd opened #432 "mongodb.collstats-colls is not giving any output or error"
**Describe the bug**
A clear and concise description of what the bug is.
mongodb.collstats-colls option is not working in docker-compose setup

**To Reproduce**
Steps to reproduce the behavior:
1. what parameters are being passed to `mongodb_exporter`
"--mongodb.global-conn-pool", "--compatible-mode", "--collector.dbstats", "--discovering-mode",  "--mongodb.collstats-colls=db1.col1,db1.col2"

2. d

[2022-02-04 17:12] ShashankSinha252 commented on #430
Hi @dcram , glad to hear you made some progress.

[code]
This error signifies that SCRAM-SHA-1 based verification failed on server. I've seen this happen when MongoDB is not able to find a user in the authentication database (though there may be more scenarios).

I am also curious about the parameters you have used for MongoDB exporter. `--log-level` and `--collector.collstats` are not valid flags

[2022-02-05 17:08] ShashankSinha252 commented on #432
Hi @amulrajd . Thanks for reporting the issue.

We have found a compatibility bug in our exporter codebase. The call to MongoDB for retrieving collection statistics (**$collStats**) works for versions 4.2 and 4.4, but fails for 5.0.

To reproduce issue, one can run the exporter with log level set as `debug` and connect to MongoDB 5.0 instance. If collection statistics are requested by exporter, on

[2022-02-08 12:20] natarajanmurukan opened #436 "Mongodb Server Status is not collected"
**Mongodb_connection metrics are not being collected**
I am using version percona/mongodb-exporter 0.30.0 version and as per documentation, it is supposed to collected server status which includes mongodb_connections as metric. But unfortunately, I am not seeing any serverstatus metrics collected by the system.

**Expected behavior**
mongodb_connection metrics to be collected

**Environment**
 - O

[2022-02-08 13:30] kristiankanchev commented on #377
I did try to use the converter(not a python expert) and I got an
[code]
Now, I am not 100% sure which python version should I use, this was tested with 2.7. With the newer versions like 3.9, there are a few places where things need to be changed to work, but I'm not sure if it breaks the logic of the script. Can you let me know which version I should run it against?

[2022-02-10 17:28] ShashankSinha252 commented on #436
Hi @natarajanmurukan ! Thanks for reporting this issue.

I want to highlight that MongoDB server 3.6 has already hit [EOL](https://www.mongodb.com/support-policy/lifecycles). The exporter supports actively maintained versions of MongoDB only.

I would request you to try it against a newer version of MongoDB and let us know if you still face this issue.

[2022-02-11 06:01] #432 closed

[2022-02-14 11:48] gokuatkai opened #439 "No changelog for release v0.30.0"
There is no changelog entries for version v0.30.0

[2022-02-14 15:30] denisok commented on #439
https://github.com/percona/mongodb_exporter/releases/tag/v0.30.0

there is some. But we probably need to do it in a file as well.

@gokuatkai would Release page work for you, or why Change log file better?

[2022-02-14 16:09] gokuatkai commented on #439
I was used to check the file: `https://github.com/percona/mongodb_exporter/blob/main/CHANGELOG` - this issue is about it being out of date - maybe my title was not specific enough.

@denisok A file is usually better, but it is only my opinion, it makes search way more efficient (you can look for keyword across all versions at once), than having to go through all pages of github releases one by one

[2022-02-22 15:34] frenkye commented on #347
This issue is real problem, the exporter is not catching up when mongo doesn't run. So it fail on timeout when you try access `/metrics`. As it could be seen here:
[code]
If mongodb is up, all metrics are shown properly.

Also passing secrets as ENV is propably best solution, if you don't have config file. Passing it as --mongodb.uri parameter is how you expose secrets in process names, if you che

[2022-02-24 04:54] hoangphuocbk opened #444 "Can't get mongodb_up metric when MongoDB service down"
[Correct me if I'm wrong]

**Describe the bug**
When MongoDB service is down, the exporter cannot connect to MongoDB service and **mongodb_up** metric is not reported.
The exporter log is described as bellow:

`Feb 24 11:30:16 <my-servername> mongodb_exporter[14477]: time="2022-02-24T11:30:16+07:00" level=error msg="Cannot connect to MongoDB: cannot connect to MongoDB: server selection error: cont

[2022-02-24 05:50] ShashankSinha252 commented on #444
Hi @hoangphuocbk . Thanks for reporting the issue.

Following details would be useful to start triage:

- Exporter version
- MongoDB version

I assume you are using a container image for MongoDB exporter. Correct me if I'm wrong.

[2022-02-24 05:52] ShashankSinha252 commented on #439
@gokuatkai , thanks for the clarification.

We missed updating `CHANGELOG` file as part of our earlier releases. It will be updated as part of our next release. We plan to create a release checklist to ensure it is not missed in future.

If you have any recommendations or suggestions, we are all ears.

[2022-02-24 09:37] hoangphuocbk commented on #444
@ShashankSinha252
- Exporter version: v0.30.0
- MongoDB version: 4.4.11

Actually, I am using binary for MongoDB exporter :)

[2022-03-02 03:36] chj9 opened #447 "Question: do I need to install a mongodb_exporter on each node?"
Do I need to install a mongodb_exporter on each node? For example, if I have 3 routing nodes, 3 configuration nodes, and 3 shards, do I need to install 9 mongodb_exporters corresponding to each IP service?

Is it possible to install only one and then write multiple nodes?

[2022-03-02 03:59] chj9 opened #448 "mongos is missing metrics, config nodes and shard nodes are OK"
**Describe the bug**

Mongos missing metrics，the following is just one example. In fact, there are many metrics that do not have information, such as `mongodb_instance_uptime_seconds`

**To Reproduce**

My mongos yaml
[code]
My Pod yaml
[code]
Request router metrics API
`curl http://router-0.mongodb-system:9216/metrics | grep mongodb_version_info`
Response
[code]
version is `server version is unav

[2022-03-02 04:03] #423 closed

[2022-03-02 13:37] peetasan commented on #398
Hi @denisok, I have the same issue as @ksg1998. I tried turning on `--collector.dbstats` I get the following extra metrics, which still doesn't include lag. Would appreciate some insight, especially that I don't see a flag `collect-all` that you mention above. Thanks

[code]

[2022-03-07 07:45] chj9 commented on #423
https://jira.percona.com/si/jira.issueviews:issue-html/PMM-8089/PMM-8089.html

[2022-03-07 18:27] percona-csalguero commented on #394
Implemented in https://github.com/percona/mongodb_exporter/pull/450

[2022-03-10 09:11] ShashankSinha252 commented on #51
Implemented in [PMM-6610](https://jira.percona.com/browse/PMM-6610)

[2022-03-10 09:11] #51 closed

[2022-03-10 09:11] ShashankSinha252 commented on #65
Implemented for MongoDB exporter

[2022-03-10 09:11] #65 closed

[2022-03-10 09:12] ShashankSinha252 commented on #61
Implemented in PMM-1238

[2022-03-10 09:12] #61 closed

[2022-03-10 09:12] ShashankSinha252 commented on #49
Implemented in PMM-1241

[2022-03-10 09:12] #49 closed

[2022-03-10 09:15] ShashankSinha252 commented on #265
OCI image for MongoDB exporter has been created. Helm chart is pending.

[2022-03-10 09:17] ShashankSinha252 commented on #362
Go releaser config was updated to support this.

[2022-03-10 09:17] #362 closed

[2022-03-10 09:20] #377 closed

[2022-03-17 08:57] ShashankSinha252 commented on #335
We plan to release a new version of MongoDB exporter soon @mukerjee . Please check out [0.31.0](https://github.com/percona/mongodb_exporter/milestone/8) for updates on our progress for new release.

[2022-03-19 18:06] rajavignesh opened #452 "TLS Connection Issue"
**Describe the bug**
Not able to establish a connection from exporter to MongoDB with TLS certificate.
TLS option set to "requireTLS"

**To Reproduce**
Steps to reproduce the behavior:
1. what parameters are being passed to `mongodb_exporter`
tls
tlsCertificateKeyFile
tlsCAFile

Full Connection String
mongodb_exporter --mongodb.uri=mongodb://mongodba:mongodba@xxx:20002/admin?tls=true&tlsCertificat

[2022-03-21 22:32] sebusca38 opened #456 "problem importing collection data from mongo db"
**Describe the bug**
I try to get the data from my database that is in a container, however I can't find the command in prometheus to acquire it

**To Reproduce**
I use docker-compose to lift the containers
mongodb-exporter:
    image: mongodb-exporter
    container_name: mongodb-exporter
    ports:
      - 9216:9216
    expose:
      - 9216
    environment:
      - MONGODB_URI=mongodb://root:toor

[2022-03-23 09:13] Shoham12 opened #457 "AWS IAM role"
Is it possible to add a flag for my AWS IAM role? I'm not able to authenticate with the AWS IAM role that was defined in my Cluster.
I'm trying to use "authMechanism=MONGODB-AWS" but I'm not able to pass it properly

[2022-03-24 07:48] ShashankSinha252 commented on #456
@sebusca38 , can you try connecting to MongoDB database with Mongo shell? Once we are sure that connectivity to database is not an issue, we can look into possible connectivity issue from MongoDB exporter side.

[2022-03-24 08:21] ShashankSinha252 commented on #452
Hi @rajavignesh , this looks like an issue with your certs. I would recommend to once try connecting with Mongo shell to figure out if issue lies with MongoDB server or MongoDB exporter.

You can also check [my comment on an earlier ticket](https://github.com/percona/mongodb_exporter/issues/430#issuecomment-1030183248). It lays out details for a toy setup to get familiar with TLS certs usage with

[2022-03-24 16:02] McLeod095 opened #458 "Label cl_role not set"
Hello
Testing on percona mongodb
`db.version();
4.4.10-11
`
and community mongodb
`db.version()
4.4.13`

Label cl_role not set correctly
mongodb_term{cl_id="5e7395e86f46cb6d2d3a94de",cl_role="",rs_nm="Shard001",rs_state="1"} 27

Command db.adminCommand( { getCmdLineOpts: 1  } ) on both version return
`                "replication" : {
                        "replSetName" : "Shard002"

[2022-03-28 03:10] amuthanlee opened #461 "TLS server selection error: server selection timeout"
**Describe the bug**
Unable to connect to Mongodb with exporter above 20x using TLS

**To Reproduce**
** Error*** TLS is NOT working in v0.30.1

[mongodb@host123 mongodb_exporter-0.30.0.linux-amd64]$ /mongo_exporter/30_0/mongodb_exporter-0.30.0.linux-amd64/mongodb_exporter --mongodb.uri="mongodb://mongouser:mongopass@host123:20001/admin?tls=true&tlsCertificateKeyFile=/ssl/server.pem&tlsCAFile=/ssl

[2022-03-28 15:35] rajavignesh commented on #452
@ShashankSinha252, able to successfully connect from Mongo shell. Facing issues when connecting with exporter. Validated the certificate and it looks good.

ERRO[0046] Cannot connect to MongoDB: cannot connect to MongoDB: server selection error: server selection timeout, current topology: { Type: Single, Servers: [{ Addr: xxx:20002, Type: Unknown, Last error: connection() error occured during conn

[2022-03-31 09:22] ShashankSinha252 commented on #439
@gokuatkai , we have created a new release, which does have a CHANGELOG update. Please take a look at it and let us know if you have any suggestions.

[2022-04-04 08:42] weastur opened #467 "Restricted access to PMM-9652"
There is a link to the task [PMM-9652](https://jira.percona.com/browse/PMM-9652) in the changelog for `0.31.0` version, but access seems to be restricted.

<img width="1659" alt="image" src="https://user-images.githubusercontent.com/10865586/161506718-19b9da09-2ae3-4f1e-88bf-196d45a939ac.png">

Other tasks are available.

P.S. It would be great if there were a chapter 'Breaking changes' in a relea

[2022-04-04 08:50] ShashankSinha252 commented on #467
@weastur, thanks for pointing it out! Let me check with my team on this.

I'll keep in mind the section about breaking changes. Would make use of it for next release.

[2022-04-08 08:43] arggh opened #470 "mongodb_exporter creates a lot of noise in the MongoDB logs"
Percona's MongoDB exporter causes a looooot of noise in the logs.

**To Reproduce**
Steps to reproduce the behavior:
1. what parameters are being passed to `mongodb_exporter`

`/usr/local/opt/mongodb_exporter-0.20.9.linux-amd64/mongodb_exporter --compatible-mode --discovering-mode --enable.top --mongodb.uri=mongodb://user:pass@localhost:27017/admin?tls=true&tlsCAFile=/etc/ssl/ca.pem&tlsCertificate

[2022-04-12 13:38] Shoham12 opened #472 "Dashboards"
Which open-source Grafana dashboards I can use if I'm using this mongodb-exporter?
I'm trying to use: https://github.com/percona/grafana-dashboards/tree/main/dashboards/MongoDB
but the metrics they are using don't exist in the exporter.
Can you recommend on an open-source dashboard that suits the metrics in the mongodb-exporter?

[2022-04-14 10:28] ShashankSinha252 commented on #472
Hi @Shoham12 , please give [convert-dash-from-PMM.py](https://github.com/percona/grafana-dashboards/blob/main/misc/convert-dash-from-PMM.py) a shot. It's not perfect, but I'll be glad to iron out any issues.

[2022-04-14 10:54] Shoham12 commented on #472
Thanks @ShashankSinha252 !  I'm not able to run the script. I'm getting the below error:
Dashboard: temp.json
Traceback (most recent call last):
  File "/Users/shohamlandau/automation_scripts/tests/test33.py", line 159, in <module>
    main()
  File "/Users/shohamlandau/automation_scripts/tests/test33.py", line 142, in main
    check_formulas(dashboard, "node_name", "instance")
  File "/Users/shoh

[2022-04-14 11:25] ShashankSinha252 commented on #472
Let me take a stab at it and get back to you on this, @Shoham12

[2022-04-15 18:38] ShashankSinha252 commented on #470
Hi @arggh , thanks for reporting this issue.

The issue reported by you stems from the fact that **MongoDB exporter creates a new connection to MongoDB, for every metric scrape request**. As a result, you see bunch of connection establishment and teardown related logs in MongoDB. The exporter provides the option of reusing an existing connection with MongoDB by enabling global connection pool (che

[2022-04-15 18:39] ShashankSinha252 commented on #470
We also have a new release out for MongoDB exporter. Feel free to check it out too.

[2022-04-15 21:02] arggh commented on #470
Thanks, I do recall trying out the connection pool flag in hopes of reducing the log bloat, but observed no significant change. I'll give it another try, maybe I messed up something (eg. forgot to reload the service).

I also did try the new release of MongoDB exporter, however, either the dashboard we are using was incompatible or due to some other issue, Grafana did not show any MongoDB data aft

[2022-04-18 10:08] arggh commented on #470
Scratch that, I can see a dramatic decrease in chattiness via using `--mongodb.global-conn-pool`.

[2022-04-18 10:08] #470 closed

[2022-04-18 17:33] shardulsrivastava commented on #472
@Shoham12 Here is the fix for the python script :

https://github.com/percona/grafana-dashboards/pull/1301

I tested it, Just add these lines at line number 108 :

[code]

[2022-04-22 16:44] sylguyot opened #475 "Expose mongodb exporter in https"
Could you plan to support to launch of the exporter in https (currently , it is in http, only the listening port can be customized, but not the scheme) ?
It is required in my company that all flows are encrypted

[2022-04-22 17:40] sylguyot opened #476 "Permission pb for auto-discover of collections"
Version of mongodb 4.2
Version of mongodb exporter : 0.31.2

With following your documentation, I am using a user with following role to connect to mongo
      {
         "role":"clusterMonitor",
         "db":"admin"
      },
      {
         "role":"read",
         "db":"local"
      }

And the mongodb exporter can't manage to list collections when I set the parameter auto-discover. I have an er

[2022-04-23 04:32] ShashankSinha252 commented on #472
Hi @Shoham12 , above mentioned PR has been merged. Can you give it a shot now and confirm if things are working for you?

[2022-04-24 06:46] Shoham12 commented on #472
@ShashankSinha252 The code works properly now but still the metrics are not available on my Prometheus so I'm still getting blank charts in Grafana.
For example, I'm trying to use:
https://github.com/percona/grafana-dashboards/blob/main/dashboards/MongoDB/MongoDB_Cluster_Summary.json
and still the metrics are not available on my Prometheus. As result, I don't see any stats in Grafana

[2022-04-24 18:50] gowtham500 opened #477 "v0.31.2 MongoDB Exporter - centos 7 - does not gather any metric"
**Describe the bug**
http://fqdn:9130/metrics --> does not show any mongodb metric. It just shows the default go lang metrics and mongodb_up gauge.

**To Reproduce**
Steps to reproduce the behavior:
1. system - CentOS Linux release 7.9.2009 (Core)  , mongodb version - ``4.4.13``
2. mongodb_exporter version - Version: `v0.31.2` Commit: 5ceed65
3. User Permissions
``{
    user: "username",
    pwd:

[2022-04-25 13:41] #439 closed

[2022-04-25 17:49] d4nnyx-cz opened #480 "Ambigous option -s when adding user"
**Describe the bug**
When installing deb package, it tries to create mongodb_exporter user with command
`adduser -s /sbin/nologin --no-create-home -c Mongodb Exporter User mongodb_exporter`, but -s option is ambigous here and installation returns RC 1

**To Reproduce**
Steps to reproduce the behavior:
1. `wget https://github.com/percona/mongodb_exporter/releases/download/v0.32.0/mongodb_exporter-0

[2022-04-27 14:28] amulrajd commented on #432
@ShashankSinha252
Could you please tell me what parameters need to be passed to the mongodb exporter and the mongodb , to get the following output ? I'm still not getting the expected metrics to create a grafana dashboard
[code]

Here is what I tried with no luck,
docker.compose.yml
[code]

Mongo shell
`> db
test

customers
employee
hr

5

{ "_id" : ObjectId("62693da9cf617902e30a8575"), "first_nam

[2022-04-28 02:54] sitoc commented on #477
I also faced the same issue when I upgrade the mongodb_exporter version from 0.20.9 to 0.31.2. The mongodb database process run but the mongodb_exporter cannot get any mongo related metrics except 'mongodb_up', could you please give a answer about that?

[2022-04-28 06:21] #480 closed

[2022-04-28 06:25] ShashankSinha252 commented on #477
@gowtham500 , @sitoc Thanks for reporting the issue. As part of the new release, we have implemented collect[] interface, which is similar to the one in node exporter. We will update the documentation to reflect the same.

[2022-04-28 06:41] ShashankSinha252 commented on #472
Can you check and confirm metrics generated by exporter end up in Prometheus? If there are no metrics available with Prometheus, as you mentioned, we will not see anything in Grafana.

In case of no metrics hitting Prometheus, please check status of exporter and connectivity from exporter to Prometheus.

[2022-04-28 08:29] sitoc commented on #477
Thanks for your answer, startup the mongodb_exporter with the parameter --collect-all will resolve this issue, and can get mongo related metrics

[2022-04-28 08:29] sitoc opened #483 "mongodb_exporter 0.32.0 could not get response when mongodb instance is down"
**Describe the bug**
Currently, I used the mongodb_exporter 0.32.0 version. mongodb_exporter could not get response when mongodb instance is down, I mean that at least the metric mongodb_up should be set 0 when mongodb crash, so that prometheus alertmanager can  report a alarm.

**To Reproduce**
1.Startup a mongodb_exporter and mongodb instance, this time everything is good, can get every metrics.

[2022-04-28 08:40] ShashankSinha252 commented on #483
@sitoc Can you provide details about the issue? I see that our standard template for reporting an issue is left untouched.

[2022-04-28 08:43] sitoc commented on #483
@ShashankSinha252  Rewrite the issue details please check it, looking forward to your answer, thanks a lot

[2022-04-28 17:39] gowtham500 commented on #477
@ShashankSinha252 as reported by @sitoc in his comment regarding parameter ``--collect-all`` - is this documented anywhere. I am unable to find info regarding this ?

[2022-04-29 17:10] ShashankSinha252 commented on #477
@sitoc Thanks for the response. I may have mixed it up with the newer collect interface modification. @gowtham500 , our documentation is out of sync with our codebase and doesn't have up to date information. I'm working on fixing it. Latest documentation PR would be up for reference in next 1-2 days.

[2022-04-29 17:10] madhur commented on #472
I am having same issue, exporter is up and running. But I do not see anything in Grafana dashboard. Using this one
https://grafana.com/grafana/dashboards/7353

Here is the output of exporter

[code]

[2022-05-05 10:25] ShashankSinha252 commented on #472
@madhur , are you running v0.3x version of exporter? If yes, please check out #477

[2022-05-05 10:26] ShashankSinha252 commented on #483
This is a valid bug. We are looking into it.

[2022-05-05 12:06] kkrasnov1 commented on #458
I have similar error.
Messages from mongodb_exporter:
[code]

func isArbiter call client.Database("admin").RunCommand(ctx, primitive.M{"isMaster": 1}).

db.getSiblingDB("admin").isMaster() not returned fileld "arbiterOnly" and returned

[code]

https://www.mongodb.com/docs/v4.4/reference/command/isMaster/#mongodb-data-isMaster.arbiterOnly

isMaster.arbiterOnly
    A boolean value that , when true,

[2022-05-05 13:10] mobinzk commented on #472
@ShashankSinha252 I've used your reference, added the following attributes, and it resolved the issue. Hope this helps @madhur as well.

`--collect-all --compatible-mode`

[2022-05-06 04:12] nguoingoai opened #485 "mongo_exporter not compatible with mongo v3"
**Describe the bug**
A clear and concise description of what the bug is.
May 06 12:03:49 mongo-xxx systemd[1]: Started mongo Exporter.
May 06 12:03:49 mongo-xxx mongodb_exporter[33758]: level=info ts=2022-05-06T05:03:49.227Z caller=tls_config.go:195 msg="TLS is disabled." http2=false
May 06 12:04:26 mongo-xxx mongodb_exporter[33758]: time="2022-05-06T12:04:26+07:00" level=error msg="cannot run get

[2022-05-06 06:39] ShashankSinha252 commented on #485
@nguoingoai MongoDB exporter supports versions of MongoDB server, which have not hit EOL. You can check [EOL dates for MongoDB server](https://www.mongodb.com/support-policy/lifecycles). The server version tested by you has hit EOL, hence it is not supported.

We would recommend moving to a newer version. Let us know if you believe there is a valid use case to support older versions.

[2022-05-06 06:42] ShashankSinha252 commented on #472
Thanks for the confirmation @mobinzk ! @madhur , please check and let us know.

[2022-05-06 07:10] nguoingoai commented on #485
Upgrade mongo to newer version will take me very long time , I see some other tool such as netdata still support well with EOL mongodb version , so if mongo_exporter can support this case I thinks it is very great.

[2022-05-06 08:18] ShashankSinha252 commented on #485
Can you try out the latest version of MongoDB exporter? It may work with older version of MongoDB server. You can selectively enable collectors there, so it might work for your use case.

[2022-05-06 10:55] d4nnyx opened #486 "Systemd service unit uses wrong user"
**Describe the bug**
In postinst script mongodb_exporter user is created, but systemd service unit still uses pmm user and group which cannot exist on the target host.

**To Reproduce**
Steps to reproduce the behavior:
1. Install mongodb_exporter on Debian VM
2. Run `systemctl start mongodb_exporter.service`
3. See the logs

**Expected behavior**
Should be used the correct user, which means mongod

[2022-05-08 16:46] percona-csalguero commented on #458
Hi.
I wasn't able to reproduce the issue. Anyway, I can imagine a scenario where is could be happening.
I made a test build for you to test on you environment: https://github.com/percona/mongodb_exporter/releases/tag/issue-458

Anyway, I would also like to share my tests:

## Started docker sandbox
[code]

## Ran this bash script
[code]
## Results
[code]

[2022-05-09 08:37] kkrasnov1 commented on #458
Hi @percona-csalguero,
What version of mongodb do you have?
My version of mongodb is 4.4.9.

[2022-05-09 10:40] percona-csalguero commented on #458
db.version();
4.2.18

[2022-05-13 10:52] ArieLevs opened #489 "Exporter does not respect TLS certificate validation disable"
**Describe the bug**
exporter does not respect [tlsAllowInvalidCertificates](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.tlsAllowInvalidCertificates) and [tlsAllowInvalidHostnames](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.tlsAllowInvalidHostnames) arguments

**To Reproduce**
set the `MONGODB_URI` w

[2022-05-13 14:09] kkrasnov1 commented on #458
It works!

Thank you!

[2022-05-20 10:05] shdshd01 commented on #477
Lost one day over this, please add --collect-all to docs.

[2022-05-23 05:07] johnsonchuu commented on #483
Hi all, similar issue happened to me.
But my case can be reproduced when no matter the mongo is on or off.
I can visit 9216 page but if I go to localhost:9216/metrics
it always returned empty reply.
![image](https://user-images.githubusercontent.com/89515237/169747450-cb164b2e-8923-4577-9dce-fc623bbee725.png)

[2022-05-23 07:20] #477 closed

[2022-05-24 13:34] code-noggin opened #496 "What causes "timed out while checking out a connection from connection pool"?"
What is usually the underlying cause for this error? We're running v0.32.0 in a kubernetes pod and increasing the memory resource limit reduced these errors, but we're still getting them fairly often.

[code]

[2022-05-26 09:47] tshcherban commented on #489
Hi @ArieLevs
We use a [driver](https://github.com/mongodb/mongo-go-driver) that does not support mentioned flags, thus `tlsInsecure` is a good workaround for desired result. However if for some reason you really need [tlsAllowInvalidCertificates](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.tlsAllowInvalidCertificates)/[tlsAllowInvalidHostnames](http

[2022-05-26 10:12] zekena2 commented on #381
Same for me in mongodb v4.2 with flags `--compatible-mode --discovering-mode --collect-all`
But I get all sorts of errors like

Failed to get $dbstats for database test
Failed to get $dbstats for database local
Failed to get $dbstats for database config

cannot get $collstats cursor for collection
cannot get $indexStats cursor for collection ....  timed out while checking out a connec tion from co

[2022-05-27 06:39] ArieLevs commented on #489
Thanks @tshcherban
Its ok using the insecure method is also fine as its only for development, closing

[2022-05-27 06:39] #489 closed

[2022-06-02 10:23] monotek commented on #483
For me the exporter crashes as soon as you try to access the metrics endpoint and no mongodb is running.

[code]

When i do a:

[code]

I get the following error in exporter logs:

[code]

[2022-06-07 14:17] edtshuma opened #498 "How do I setup Percona MongoDB Exporter with Grafana-Loki stack ?"
I am trying to setup [Percona MongoDB Exporter](https://github.com/percona/mongodb_exporter) to monitor MongoDB instance running on k8s.

When I 'kubectl -n labs port-forward service/mongodb-exporter 9216' I can access the exporter at _http://localhost:9216_ but I get :

`An error has occurred while connecting to MongoDB:
An error has occurred while connecting to MongoDB:
cannot connect to MongoDB

[2022-06-08 02:59] nguoingoai commented on #485
Yeap I am using the lasted version og mongo_exporter

[2022-06-09 10:39] denisok commented on #485
@nguoingoai is it still fails and you have same issue?

[2022-06-09 10:43] denisok commented on #265
https://github.com/prometheus-community/helm-charts/pull/2108

[2022-06-09 10:45] denisok commented on #483
@monotek thanks for update to the helm! we have the #265 for that, so it will close it.

[2022-06-09 10:48] denisok commented on #483
the panic probably fixed by: https://github.com/percona/mongodb_exporter/pull/388/commits/9c743bcfaf1c2f12ae736a8a5856518e95023532
https://jira.percona.com/browse/PMM-9757

[2022-06-09 10:50] denisok commented on #381
@zekena2 what mongodb_exporter version do you use?

[2022-06-10 23:31] monotek commented on #483
But should'nt that already be released in: https://github.com/percona/mongodb_exporter/releases/tag/v0.31.1 ?

[2022-06-13 23:58] nayavu opened #502 "Getting $collStat for views causes errors"
**Describe the bug**
With discovering mode enabled, while getting the list of collections, the exporter does not distinguish collections from views and then tries to get `$collStat` for views. It is an invalid operation on a view and as a result both Exporter logs and MongoDB logs are flooded with errors (`CommandNotSupportedOnView`)

**Logs**
An example of MongoDB log:
[code]

**Environment**
- M

[2022-06-16 10:41] ShashankSinha252 commented on #502
@nayavu , thanks for reporting the issue. This looks like a valid bug. I'll take a look at it.

[2022-06-17 06:53] somnathpawar opened #503 "Metrics endpoint throws "Invalid username or password""
**Describe the bug**
I have MongoDB 4.2 container running on K8s. There is a side container for MongoDB exporter on the same pod. I had DCU mongodb exporter before but it seems off with MongoDB 4.2 upgrade. So now I have replaced the image with Percona docker image "percona/mongodb_exporter:0.31.0". Pod get created properly with both the containers, but somehow when I try to access the pod's /metr

[2022-06-17 07:31] sitoc commented on #347
The same issue for me, mongodb_exporter couldn't set the mongodb_up=0 when mongodb instance go down, mongodb_exporter: 0.29.0,  0.31.1, 0.31.2, 0.32.0, these version do not fix this issue, Looking forward to the solution in the next release ,thanks a lot

[2022-06-17 21:05] percona-csalguero commented on #381
I cannot reproduce the issue.

Using MongoDB 5.0
[code]
Running the exporter against the primary:
[code]
There is a database `test` I've created and the collection `col1` having at least 1 document.
A curl gets this output:
[code]
[code]

[2022-06-17 23:54] zekena2 commented on #381
I tried on a lighter database in terms of data and connections and it didn't give these errors. so it might be hitting some timout when the database is busy?

[2022-06-20 04:50] nivimorbgp commented on #398
We're running our mongodb exporter in K8S using prometheus operator. As far as I know the underlying exporter is percona. This is the expression we use to monitor lag:

[code]

[2022-06-20 11:22] percona-csalguero commented on #381
Yes, I am pretty confident that's the real problem.
It might even be the number of databases. If the number of databases/collections is high, calling `list Databases` or `list Collections` in discovering mode could be taking too much time.

[2022-06-20 11:34] percona-csalguero commented on #381
Hi @zekena2 , I am going to close this ticket.
Please if you can tell us how to reproduce the issue, open a new issue here with the step by step instructions.
If you can include environmental information that would be great help.

Regards

[2022-06-20 11:34] #381 closed

[2022-06-23 10:41] ShashankSinha252 commented on #265
Helm charts work is also done. Thanks @monotek

[2022-06-23 10:41] #265 closed

[2022-06-23 13:39] #398 closed

[2022-06-24 11:19] cbzchotu opened #505 "Not getting mongodb metrics"
cmd --./mongodb_exporter --mongodb.uri=mongodb://chandra:chandra@localhost:27017/admin?ssl=false

getting only this much metrics.

[ec2-user@ip-10-11.24.15~]$ curl localhost:9216/metrics | grep mongo
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 16068    0 16068    0     0   392k

[2022-06-24 11:55] percona-csalguero commented on #505
You need to specify the collectors you want to enable.
The easiest way is to specify `--collect-all` when starting the exporter.

[2022-06-24 11:55] #505 closed

[2022-06-30 07:02] chegde20121 opened #509 "MongoDb instance details are not rendered from exporter"
I am currently using mongodb  exporter version 0.32.0.

I want to get the details of mongodb host os details, ip and port on which mongodb is running.

Please let me know if there is any way to get these information from mongodb exporter
cc:@shoffman-percona  @percona-csalguero  @ShashankSinha252

[2022-07-04 17:53] minhhungit opened #513 "Mongodb 5.0.9 and error BSON field 'saslContinue.mechanism' is an unknown field"
I'm using mongodb **v5.0.9**, trying to setup mongodb_exporter and get this errror:

**Cannot connect to server using url mongodb://****:****@router1:27017: server returned error on SASL authentication step: BSON field 'saslContinue.mechanism' is an unknown field**

[code]

This is my config:

[code]

I tried to search the issue on google and see this post:

https://www.mongodb.com/community/forum

[2022-07-04 19:00] minhhungit commented on #513
I install wrong exporter version, I used v0.7.1, after upgrade exporter to v0.32.0 it work great

This is the service config I'm using

[code]
There is a small problem, that is it does not support multiple monogo routes address

[2022-07-04 19:00] #513 closed

[2022-07-07 15:26] chegde20121 opened #518 "Is there any possibility to get the uri details used for configuring the exporter, or the mongodb instance details to which exporter is connected"
Helloo,

Is there any possibility to get the uri details used for configuring the exporter, or the mongodb instance details to which exporter is connected in the metrics as metadata or labels?

If so how can we get those ?

If not is there any way to get that?

@percona-csalguero @it-percona @it-percona-cla @asiemen-percona

[2022-07-08 13:29] puneet2108 opened #519 "Dashboard link for mongo exporter"
Which dashboard may i use in grafana for Prometheus mongo exporter, is there any id or link

[2022-07-08 14:54] Farfeght opened #520 "Couple of beginner questions"
First, I've tried to read all the relevant information through, but some details are still vague for me. Bear with me please.

1. Am I right asserting that this implementation doesn't enable me to access the documents inside the DB ?
1b. If so, can anyone point me to a direction where can I find helper software that can provide certain data from MongoDB to prometheus DB?

2. Am I right when I unde

[2022-07-09 08:03] Lucifer0x17 opened #521 "Unable to get dbStats for a local percona mongodb server."
So, I am using the exporter for the MongoDB for the first time. I have configured it and I am getting error message while using `--collector.dbstats` tag. Attached image contains the error. can someone help??

I am using docker and this is my .yml file:-
![image](https://user-images.githubusercontent.com/54178328/178097331-14624ab2-84a8-42e4-af37-37e850945938.png)

![image](https://user-images.git

[2022-07-10 08:08] BupycHuk commented on #521
Hi, we fixed this bug please use version 0.33.0

[2022-07-14 02:44] jicki opened #524 "server selection error: server selection timeout, current topology: [{ Addr: 127.0.0.1:27017, Type: Unknown }, ] }""
**Version**

[code]

**Logs**
Please provide logs relevant to the issue

[code]

[2022-07-15 03:56] jicki opened #525 "Can't use 'local' database through mongos" and mongos metrics mongodb_op_counters_total miss"
**Exporter version**
[code]

**Logs**

[code]

[2022-07-21 10:06] ShashankSinha252 commented on #524
@jicki , thanks for reporting the issue. It looks like a connectivity issue with the database.

I recommend you try connecting to the MongoDB server using Mongo shell and rule out connectivity issue.

[2022-07-21 10:09] ShashankSinha252 commented on #519
Hi @puneet2108 , please refer to https://github.com/percona/mongodb_exporter/issues/377#issuecomment-971582087 for details on dashboard.

[2022-07-21 10:14] ShashankSinha252 commented on #518
Hi @chegde20121 , connection URI passed to MongoDB exporter may contain sensitive information. Therefore, URI details are not exposed as part of generated metrics. There is no support to provide it in metrics.

You can always try to find the URI by checking out command line parameters used to invoke the exporter. A simple invocation of `ps` on the instance running the exporter, with output filtere

[2022-07-28 00:35] a-gavin opened #534 "AuthSource, Other Auth Info Ignored in URI Affecting v0.33.0"
**Describe the bug**
When attempting to pass [`authSource`](https://www.mongodb.com/docs/manual/reference/connection-string/#mongodb-urioption-urioption.authSource) in the MONGO_URI, either implicitly as `defaultauthdb` or explicitly as `authSource` in the connection string, the exporter is unable to log in and the following can be found in the MongoDB logs.

[code]

An example format of a breakin

[2022-08-05 05:20] Sandhyaranitp opened #537 "Mongodb usage metrics"
**Is your feature request related to a problem? Please describe.**
with the current mongodb_exporter we are not able to see which instance is being used and not used as mongodb_ss_connection parameter pull all the session details

**Describe the solution you'd like**
Is it possible to used existing parameter or other option to see if external client connection happens to the mongodb instance?
so t

[2022-08-08 09:37] Codecaver opened #540 "wrong metrics"
**Question**
I have a three-node mongo replica set with one master and two slaves. And the exporter is deployed on each node. When looking at the metrics on the master node, I found such an error metric: mongodb_mongod_replset_my_state{set="rs0"} 0. Because in rs.status(), the stats value of the primary node is 1

**environment**
- Linux
- Docker
- mongo:4.2.7
- mongo exporter : 0.30.0

**Master-n

[2022-08-09 02:12] NoviceEric commented on #448
same problem whit mongod 4.2.7 .
but there no any logs in the exporter, just print
`mongodb-exporter    | time="2022-08-08T09:00:07Z" level=info msg="Starting HTTP server for http://:9216/metrics ..." source="server.go:140"`

[2022-08-13 07:04] mmafshari77 opened #541 "Commandline switch `--web.telemetry-path` seems not wrking"
No matter which value I provide in the commandline for `--web.telemetry-path` switch, the web page is just accessible at `/metrics` url.
Another problem related to this problem is that the `/` path returns `404 not found` status code which is not like other prometheus exporters -- other prom exporters return a `202` status code at the `/` url and some information about the exporter itself.

[2022-08-13 20:12] bluepuma77 commented on #520
"This is the new MongoDB exporter implementation that handles **ALL metrics exposed by MongoDB monitoring commands**". "Enabling collstats metrics" is optional.

If you want to create custom MongoDB queries that expose custom data, maybe check something like [Prometheus MongoDB query exporter](https://github.com/raffis/mongodb-query-exporter). Grafana has a [paid tool](https://grafana.com/grafana/

[2022-08-15 08:49] pseymournutanix opened #543 "Connection Errors"
Cannot Connect the Exporter to the Instance. If I use mongosh all seems OK:-

[code]

However various different combinations of trying to connect the exporter all fail:-
[code]

I think I have tried every combination I can think off they all come back with the above error or panic with:-
[code]

[2022-08-15 17:02] a-gavin commented on #543
I don't know that it's necessarily the same issue, but the error message you posted looks familiar.

I was having some authentication issues caused by a MongoDB goland driver workaround to support passwords which contain "+". More details in the following issue: #534

The main similarity I see between the issue I had and the issue you're having is you are using a non-`admin` authSource, something

[2022-08-16 10:55] edenkr commented on #447
found an answer?

[2022-08-16 13:39] pseymournutanix commented on #543
Hi,

Thanks for looking. The creds don't have special characters in them.

I tried building from your branch and I got this error:-
[code]

Which is probably valid as the cert is self-signed.

I tried adding `tlsAllowInvalidCertificates=true` into the connection URI but no joy.

Appreciate the help.

Cheers

[2022-08-16 15:09] pseymournutanix commented on #543
I added TLS stuff and now it's working - well making a connection and getting some data back.

I don't get a `cluster` label (which the dashboard expect), nor do I get a full metric set the `context deadline exceeded` comes up a lot.

Anyway thats another issue.

[2022-08-16 15:56] a-gavin commented on #543
One error to the next haha! If you run in to TLS cert errors again, definitely recommend following [this section](https://www.mongodb.com/docs/manual/appendix/security/appendixA-openssl-ca/) of the MongoDB docs for setting up testing TLS certs.

Do you mind posting what fixed this issue for you so others might benefit? Also, did you build with Percona's repo for this solved approach?

[2022-08-16 16:01] a-gavin commented on #541
[This line](https://github.com/percona/mongodb_exporter/blob/5c3358c3bab3823588fb801a84f3eb7985d2765c/exporter/exporter.go#L328) is likely to blame for the `--web.telemetry-path` issue. Should be referencing [this field](https://github.com/percona/mongodb_exporter/blob/5c3358c3bab3823588fb801a84f3eb7985d2765c/exporter/exporter.go#L104) instead of hardcoding `"/metrics"`. Can't speak to the other i

[2022-08-17 07:26] a-gavin opened #545 "Failing CI Pipeline: Duplicate Metric Failure"
**Describe the bug**
GitHub action pipelines for various PRs going back several months are failing with errors like output listed below in **Logs** when the changes they test should presumably not cause these issues, e.g. [this one](https://github.com/percona/mongodb_exporter/actions/runs/2870120705).

I have managed to trace the error down to a bug in [`makeMetrics()`](https://github.com/percona/

[2022-08-18 09:06] ShashankSinha252 commented on #545
@a-gavin , thanks for highlighting the issue. This is already tracked internally in [PMM-10292](https://jira.percona.com/browse/PMM-10292). We already have a fix in place for it. We also have another [PR](https://github.com/percona/mongodb_exporter/pull/531) for histogram metrics.

I would take a look a look at your PR and see if we can derive any benefit out of it. Once again, thanks for all your

[2022-08-18 16:00] a-gavin commented on #545
Aww darn, no worries. Is the internal issue tracker the authoritative source or are both it and GH issues equivalent? CONTRIBUTING.md points at both.

[2022-08-18 16:00] #545 closed

[2022-08-24 06:28] chj9 commented on #447
no idea，currently my approach is to install a service on each server

[2022-08-31 17:31] thopewell commented on #483
I think I'm seeing a similar problem, if there is no primary node, the exporter panics - I would have thought it could still collect metrics from a secondary, enough to be able to detect mongo is unhleathy via metrics.

I'm using helm chart v3.1.1 and the helm chart values.yaml looks like:

[code]

(there is actually a 3rd mongo instance in the replica set but I've temporarily disabled it and remo

[2022-09-13 06:23] naughtyGitCat opened #559 "[feature]split user and password from uri"
**Is your feature request related to a problem? Please describe.**
expose monitoring mongo instance URI will be helpful when handling problems, but exposing user pass is insecure

**Describe the solution you'd like**
 user and pass supply in env variables

**Describe alternatives you've considered**
use --remark or --note to add extra info, such as --note=IP:PORT

[2022-09-13 17:01] vineelyalamarthy opened #561 "Mongo URI password visible in process list on Linux"
**Describe the bug**
Exporter tries to connect with MongoDB using the URI to get the metrics.

Here is the URI format.

**mongodb://[username:password@]host1[:port1][,...hostN[:portN]][/[defaultauthdb][?options]]**

When we do ps -ef  we are able to see the password even though we try to render the password via an env and this can be a security breach when we use this in production environment.

*

[2022-09-13 17:41] denisok commented on #559
similar request is in #380 . As a secure alternative so far you can use tls connection with `--web.config` which is Prometheus TLS config file

[2022-09-13 17:42] denisok commented on #561
similar request is in #380 . As a secure alternative so far you can use tls connection with `--web.config` which is Prometheus TLS config file.

`Run the binary (mongodb_exporter-0.7.1.linux-amd64.tar.gz)` 0.7.1 version is probably some very old or from different repo, current release is 0.34.x

[2022-09-14 12:29] denisok commented on #467
yeah. We need to follow semver to avoid situation with breaking changes.
So far plan to do it after 1.0 release, but we should mention it RN right now.

We can't open issue mentioned, but it resulted in these PRs:
- https://github.com/percona/mongodb_exporter/pull/450
- https://github.com/percona/grafana-dashboards/pull/1364

[2022-09-14 12:29] #467 closed

[2022-09-14 12:29] #472 closed

[2022-09-14 12:33] denisok commented on #561
hm. I mixed up the things, `--web.config`  is the parameter for exporter itself. It will not help with connection to mongo. So yeah, concern is quite critical we need to address it.

[2022-09-14 12:33] denisok commented on #559
hm. I mixed up the things, `--web.config`  is the parameter for exporter itself. It will not help with connection to mongo. So yeah, concern is quite critical we need to address it.

[2022-09-14 12:37] denisok commented on #475
I think it is supported now with `--web.config` option delivered as part of #411/

feel free to re-open if it doesn't cover your request :)

[2022-09-14 12:37] #475 closed

[2022-09-14 13:16] denisok commented on #483
@ShashankSinha252 are we planning this for 0.35 ? have we identified the fix?

[2022-09-14 13:18] denisok commented on #485
@nguoingoai I will close this one, please re-open if you still see the issue

[2022-09-14 13:18] #485 closed

[2022-09-14 13:42] denisok commented on #503
Hi @somnathpawar ,

this exporter doesn't support `HTTP_AUTH` as far as I know. What that env suppose to do?

Maybe related to #380 #559

[2022-09-14 13:45] denisok commented on #380
user and pass are in #560 . FILEs are still missed

[2022-09-14 13:46] denisok commented on #518
any other help needed? please re-open.

[2022-09-14 13:46] #518 closed, assigned to ShashankSinha252

[2022-09-14 13:47] #519 closed

[2022-09-14 13:49] denisok commented on #520
you can collect what collectors you enable and thus it will give you more or less metrics: https://github.com/percona/mongodb_exporter/blob/main/REFERENCE.md

[2022-09-14 13:49] #520 closed, assigned to bluepuma77

[2022-09-14 13:51] denisok commented on #524
Hi @jicki any feedback, have you you resolved the issue?

[2022-09-14 15:58] #458 closed

[2022-09-14 15:59] denisok commented on #457
@Shoham12 sorry for late respond. You mean auth by IAM Role to MongoDB from exporter?

That is not supported currently.

[2022-09-14 16:00] denisok commented on #456
Hi @sebusca38 I will close this a stale. Fell free to re-open or open new one.

[2022-09-14 16:00] #456 closed

[2022-09-14 16:26] denisok commented on #559
to make it clear `--web-config` is for exporter itself, but you still use tls in a connection URI: `tls=truetlsCertificateKeyFile=Server.pem&tlsCAFile=ca.pem` in connection string instead of password.

[2022-09-14 16:30] #436 closed

[2022-09-14 16:33] denisok commented on #430
@dcram I will close this one as it is stale, feel free to re-open or maybe you have the same as #452

[2022-09-14 16:33] #430 closed

[2022-09-14 16:34] denisok commented on #414
@revitall please try new version, feel free to re-open

[2022-09-14 16:34] #414 closed

[2022-09-14 16:35] #395 closed

[2022-09-14 16:36] denisok commented on #383
I guess this is about old exporter version. Doe new one works for you folks?

[2022-09-14 16:37] #369 closed

[2022-09-14 16:39] denisok commented on #347
I believe this was fixed :) please check latest version. There were couple of bugs that we fixed if mongo is not connected.

[2022-09-14 17:07] percona-csalguero commented on #447
Yes. The current implementation only supports connections to a single node.

[2022-09-14 17:07] #447 closed

[2022-09-14 18:30] kohtala commented on #383
With 0.34 adding `--collector.collstats` to previous `--discovering-mode --mongodb.collstats-colls=db` options it now collected the collections with dots.

Thank you.

[2022-09-15 01:26] mukerjee commented on #335
Unfortunately we're not using mongodb in our project anymore so i don't have a quick way to check this. I would assume it's fixed though on a new release, because it worked for me before as long as I had commit a24ec48a9bd6fc6275deae50f25740c446fb4512

[2022-09-15 02:04] jicki commented on #448
got the same problem with mongo version : 4.4.15-15

[2022-09-15 02:36] jicki commented on #448
@chj9  have you you resolved the issue?

[2022-09-15 06:28] frenkye commented on #347
Still not returning `mongodb_up 0` when mongo is down and getting empty reposnse from exporter `/metrics` endpoint

Exporter version
[code]

Check:
[code]

[2022-09-15 06:44] naughtyGitCat commented on #559
thanks, TLS may be another way to secure the exporter, and seems a little inconvenient to me. we want to expose the monitoring DB instance URL

[2022-09-19 07:04] GayathriRameshK opened #562 "not authorized on admin to execute command"
**Describe the bug**
Getting error in mongod -

{"t":{"$date":"2022-09-16T10:25:36.880+00:00"},"s":"I",  "c":"ACCESS",   "id":20436,   "ctx":"conn47584","msg":"Checking authorization failed","attr":{"error":{"code":13,"codeName":"Unauthorized","errmsg":"not authorized on admin to execute command { find: \"system.version\", filter: { _id: \"shardIdentity\" }, limit: 1, singleBatch: true, , $db: \"a

[2022-09-22 14:09] mbeckDWRE commented on #543
We get the same error when connecting to an instance of mongo we set up with the community operator:

`"Cannot connect to MongoDB: cannot connect to MongoDB: connection() error occured during connection handshake: auth error: sasl conversation error: unable to authenticate using mechanism \"SCRAM-SHA-1\": (AuthenticationFailed) Authentication failed."`

We run the exporter as a sidecar and tried v

[2022-09-28 08:57] yehaotong opened #570 "how to monitoring multiple instances"
I have multiple mongodb instance,how I use one mangodb-exporter to monitoring these mangodb?

[2022-09-28 11:50] ShashankSinha252 commented on #570
@yehaotong , at the moment, MongoDB exporter supports monitoring only via one of the following configurations:

- 1 standalone MongoDB server
- 1 replica set of MongoDB servers (multiple server along with possible arbiters)

It doesn't support targeting multiple servers in any of the above configurations. You can use multiple instance of MongoDB exporter to monitor multiple targets. The simplicity

[2022-09-30 05:39] #570 closed

[2022-10-01 20:35] dev-e opened #571 "Unable to use sslCAFile and sslAllowInvalidHostnames in the connection string"
**Describe the bug**
Hi! We use a managed MongoDB service from our infrastructure provider and the only way to connect to the database is using SSL with a CA cert and `sslAllowInvalidHostnames` option:
[code]
When trying to use the exporter we can only operate connection string parameters, and the underlying [mongo-go-driver](https://github.com/mongodb/mongo-go-driver) does not respect `sslAllowIn

[2022-10-04 18:14] captncraig opened #574 "Is the fork of prometheus/client_golang strictly necessary?"
**Is your feature request related to a problem? Please describe.**
We are using libraries from mongodb_exporter in our project, and are unable to update from version 0.31.2, since newer versions use the prometheus client at `github.com/Percona-Lab/client_golang` for the custom `MeasureCollectTime` function.

We have other code relying on client_gloang, and have a problem replacing it with that for

[2022-10-07 08:09] #486 closed

[2022-10-12 06:28] daniel-shuy commented on #270
Isn't this already captured by the `getDiagnosticData` collector under `local.oplog.rs.stats`?
see https://github.com/percona/mongodb_exporter/blob/v0.34.0/exporter/testdata/get_diagnostic_data.json#L3-L20

[2022-10-12 15:33] Kunal-8789 opened #577 "Code Of Conduct is missing from this project."
I was just going through this project and saw Code Of Conduct is missing, as per [Github Community Standards recommendations](https://github.com/colbyfayock/next-cloudinary/community) that would make the project contributor friendly.

Let me know if this is something you would allow me to implement under Hacktoberfest.

[2022-10-12 16:20] chattarajoy opened #578 "License Inconsistency in code files"
The license applied to the repository is Apache2.0 as mentioned on the top level. Still, there are a lot of files under the exporter/ directory that have a license header saying they are AGPL licenses.

Is this intentional or is that a miss when updating the license header of all the files? If that is a miss I would be happy to get create PR for updating the license.

[2022-10-13 14:49] adinandan commented on #561
the issue still seems to be there when we try to make mongo-uri as ENV

The issue still seems to be there when we try to make mongo_uri as ENV when we pass the user and password

[2022-10-14 13:35] jeffersongirao commented on #270
@daniel-shuy, I don't think so. For instance, `tFirst` and `tLast` from db.getReplicationInfo() does not seem to be captured anywhere. I've ended up here when trying to calculate the oplog window, pretty much the same context as the op.

[2022-10-14 14:57] daniel-shuy commented on #270
@jeffersongirao If I'm not mistaken, [local.oplog.rs.stats_start](https://github.com/percona/mongodb_exporter/blob/v0.34.0/exporter/testdata/get_diagnostic_data.json#L20) is the `tFirst` and [local.oplog.rs.stats_end](https://github.com/percona/mongodb_exporter/blob/v0.34.0/exporter/testdata/get_diagnostic_data.json#L7) is the `tLast`.

Maybe someone at **Percona** can kindly confirm if this is tr

[2022-10-19 07:13] jeffersongirao commented on #270
@daniel-shuy thanks for pointing out to that but unfortunately it seems those are different fields. The timestamp values do not correspond to the head and tail entries from the oplog, neither at the exporter or at the source.

[2022-10-23 13:50] upgradepa opened #580 "How to prevent mongodb sql injection with go"

[2022-10-26 07:27] vineelyalamarthy commented on #270
Happy to help on this issue. But I need some time.

[2022-10-27 16:09] pgloader opened #586 "No Data on the Dashboard"
**Describe the bug**
A clear and concise description of what the bug is.
If the issue relates to PMM, please open [JIRA PMM](https://jira.percona.com/projects/PMM/issues) issue instead of GH issue.

Mongodb_exporter: Version: v0.34.0
Prometheus version:  2.38.0
Grafana version: 2.38.0
Dashboard: https://grafana.com/grafana/dashboards/12079

Metrics are ok on exporter  UI and Prometheus UI but the

[2022-11-08 10:06] BlacCello commented on #562
I can confirm this problem with v0.34.0. There is one entry for the "admin" db and one for another random db that actually contains business-data.
The startup arguments are `--mongodb.global-conn-pool --collector.diagnosticdata --compatible-mode --no-mongodb.direct-connect`, so I am wondering why it tries to listCollections of one of our business databases.

We migrated from the quite old v0.7.0 v

[2022-11-08 13:01] HenrikLindholm86 commented on #347
I believe this panic is fixed in main by @trvrnrth as of October 6:th  (commit `fffcfe8332a5de5a51618662d3f379c288fce7b0`)
But it's not part of the latest release since the release branch were created before that.

[2022-11-08 15:16] rriverak commented on #562
Hi, we are currently having the same problem.
after looking at the code, this block could be responsible for the `listCollections` problem.

The following can be found in the HTTP handler body:
https://github.com/percona/mongodb_exporter/blob/d9b417be3969661ce3314e742891ae46bb06ed0e/exporter/exporter.go#L287-L294

As we can see in common.go, listCollections is called once for all non-system databa

[2022-11-11 01:00] wps0721 opened #591 "MongoDB options: a direct connection cannot be made if multiple hosts are specified"
My Mongo started with cluster mode, and I wanted to use one mongo_exporter to monitor all nodes, but the program returned an error

**error messages:**
time="2022-11-11T00:49:29Z" level=error msg="Cannot connect to MongoDB: invalid MongoDB options: a direct connection cannot be made if multiple hosts are specified"
2022/11/11 00:49:29 http: panic serving 172.xx.0.1:xxx34: runtime error: invalid me

[2022-11-12 21:52] edtshuma opened #592 "MongoDB Prometheus exporter not scrapping database metrics"
I have a Mongo deployment with a metrics exporter sidecar. When I load the associated [Percona dashboard](https://grafana.com/grafana/dashboards/16490-opstree-mongodb-dashboard/) in Grafana the database metrics are not showing - the exporter is not scrapping these metrics at all:
<img width="932" alt="MONGO-DASHBOARD-2" src="https://user-images.githubusercontent.com/23119187/201495406-96996c81-b43

[2022-11-13 13:30] elghazal-a commented on #483
I'm seeing similar issue with `0.35.0`, the exporter crashes when mongodbdb is down. I'd expect to have `mongodb_up=0`

[2022-11-14 07:41] Ed87 commented on #592
Adding --collect-all and --compatible-mode worked for me with the following configuration :

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-prom
  namespace: "labs"
  labels:
    app.kubernetes.io/name: mongodb
    helm.sh/chart: mongodb-12.1.12
    app.kubernetes.io/instance: mongodb-prom
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: mongodb
spec:
  repl

[2022-11-15 11:33] frenkye commented on #347
It's possible i'am not testing master, since there are release builds. Last v0.35 dont have this commit inside from 6th Oct.

[2022-11-16 09:43] gongomgra opened #594 "Compiled assets for release 2.32.0"
Hello team,

I see you provided compiled assets for previous versions `v0.33.0`, ` v0.34.0`, and `v0.35.0`. Do you plan to provide them for the latest released version `v2.32.0`?

**Describe the solution you'd like**
Compiled binaries are available for the latest version in the same way they are for previous ones.

**Describe alternatives you've considered**
In case it is not officially provided,

[2022-11-17 13:31] learnnew007 commented on #586
Hi!
I have the same problem!

Mongodb_exporter: v0.35.0
Prometheus version: v2.39.1
Mongodb: v5.0.9
Grafana version: v9.2.3
Dashboard: https://grafana.com/grafana/dashboards/12079

Metrics are ok on exporter UI and Prometheus UI but the dashboard on the Grafana shows no data on any of the metrics of https://grafana.com/grafana/dashboards/12079 dashboard

My /etc/systemd/system/mongodb_exporter.ser

[2022-11-18 10:45] suxiaoxiaomm opened #595 "Metrics of "mongodb_oplog_stats_start" is wrong"
**Describe the bug**
I am trying to use metrics: "mongodb_oplog_stats_start" and "mongodb_oplog_stats_end" to calculate "Replication Oplog Window".

While I found both "mongodb_oplog_stats_start" and "mongodb_oplog_stats_end" have the same value which is the end of the Oplog.

**Expected behavior**
I expect "mongodb_oplog_stats_start" should have the value of my oplog's start value, which is days

[2022-11-21 03:43] weily2 opened #596 "Mongodb_exporter can't start normally"
Mongodb_exporter can't start normally，the logs bellow:
Nov 20 22:35:49 perf_db2 signalfx-agent: time="2022-11-20T22:35:49-05:00" level=error msg="Could not handle message from Python" error="parse error: expected number near offset 278 of 'values'" monitorID=1 monitorType=collectd/mongodb runnerPID=1519
Nov 20 22:35:59 perf_db2 signalfx-agent: time="2022-11-20T22:35:59-05:00" level=error msg="Coul

[2022-11-22 16:08] vtomasr5 commented on #540
Hi,

I have seen the same behaviour recently when upgrading PSMDB from v4.2.x to v4.4.x. We have a `mongodb-exporter` running on each instance.

In the v4.2 PSMDB nodes the metric `mongodb_mongod_replset_my_state` shows the right result (1 or 2) but in the v4.4 PSMDB nodes the `mongodb_mongod_replset_my_state` value is alway 0.
The v4.4 nodes are added to the existing replicaset as a SECONDARY and

[2022-11-25 16:20] igroene commented on #540
if you are running into this, make sure you are not disabling FTDC explicitley (enabled is default option):

setParameter:
--
diagnosticDataCollectionEnabled: true

[2022-11-29 17:30] Ulrar opened #597 "cannot get the database names list"
**Describe the bug**
When running this exporter against an Atlas db, I'm getting these two errors over and over again :
[code]

[code]
Appologies if I sanitized something I shouldn't have, I'm not sure what's sensitive in this, if anything.

**Environment**
 - Kubernetes 1.22 (exporter only)
 - MongoDB 5.0.14 - Atlas M2 instance

**Additional context**
I'm running the exporter with these arguments

[2022-11-30 09:59] Ulrar commented on #597
Actually just noticed I wasn't using the latest version, so I updated to 0.35.
One of the two errors went away, but this one is still repeating :

[code]

[2022-11-30 12:00] Ulrar commented on #597
To add to this, I've tried it by hand using mongosh :
[code]

It looks like `db.adminCommand( { listDatabases: 1 })` is fine, but as soon as `authorizedDatabases` is present (regardless of the value) the command fails. Any idea why that would be the case, is that a known issue with Atlas ?
Thank you

[2022-11-30 12:19] tnosaj commented on #597
To give some more context - it seems like this is being disabled on the <M10 instances in mongodb cloud for some reason (shared infrastructure maybe?)

on M10+ instance, the command works fine.

[2022-11-30 14:26] naughtyGitCat opened #598 "fail to run exporter on mongodb arbiter instance"
**Describe the bug**
fail to run normally on MongoDB arbiter role instance
**To Reproduce**
just run raw exporter binary on arbiter role instance

**Expected behavior**
show the limited `isMaster` info

**Logs**
Please provide logs relevant to the issue

**Environment**
 - linux
 - raw binary
 - 3.2/3.6

**Additional context**
REF TO https://github.com/percona/mongodb_exporter/pull/560
REF TO http